@mixin hover-active($color, $background-color, $child-selector:null, $child-color:null, $child-background-color:null) {
    $child-selector: unquote($child-selector);
    
    @media screen and (min-width: 769px) {
        &:hover {
            color: $color;
            background-color: $background-color;
            
            @if($child-selector) {
                #{$child-selector} {
                    color: $child-color;
                    background-color: $child-background-color;
                }
            }
            
        }
    }
    @media screen and (max-width: 768px) {
        &:active {
            color: $color;
            background-color: $background-color;
    
            @if($child-selector) {
                #{$child-selector} {
                    color: $child-color;
                    background-color: $child-background-color;
                }
            }
        }
    }
}