#lcBreedWrap {
    max-width: 900px;
    width: 100%;


    .lc-animal {
        border: 1px solid $light-periwinkle;
        .lc-animal-tab {
            border-bottom: 1px solid $light-periwinkle;

            li {
                width: 20%;
                height: 48px;
                background-color: $pale-grey;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                line-height: 48px;
                cursor:pointer;
                border-right: 1px solid $light-periwinkle;

                &.tab_on {
                    background-color: #ffffff;
                }

                &:nth-child(5) {
                    border: none;
                }
            }
        }

        .lc-animal-list {
            background: #fff;

            .entity-id {
                width:20%;
                @include screen(m) {
                    width: 16.6%;
                }
            }

            .entity-num {
                width:12%;

            }

            .entity-barcode {
                width:12%;
            }

            .entity-status {
                @include screen(m) {
                    width: 16.6%;
                }
            }

            .entity-birth{
                width:10%;
            }

            .entity-move{
                width:10%;

            }

            .on-pc{
                @include screen(m) {
                    display:none;
                }
            }

            table {
                width: 100%;
                text-align: center;
                table-layout: fixed;

                thead {
                    tr {
                        border-bottom: 1px solid $light-periwinkle;
                        background-color: #fff;

                        th {
                            font-size: 14px;
                            height: 48px;
                            line-height: 48px;
                        }
                    }
                }

                tbody {

                    &::before {
                        content: '';
                        display: block;
                        height: 10px;

                    }

                    &::after {
                        content: '';
                        display: block;
                        height: 10px;

                    }

                    tr {
                        background-color: #fff;
                        cursor:pointer;

                        td {
                            color: $brown-grey;
                            height: 48px;
                            vertical-align: middle;
                            text-align: center;
                            font-size:14px;
                            word-break:break-all;
                            .list-image {
                                width: 40px;
                                height: 40px;
                                border-radius: 4px;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }

            .pagination {
                border-top: 1px solid $light-periwinkle;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 30px;
            }
        }

    }

    .add-btn-area{

        display:none;
        @include screen(pc, t) {
            display:block;
        }

        padding:12px 0;
        button.btn-green{
            width:79px;
        }
    }

    .circle-icon{
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: white;
        border: 1px solid gray;
        margin: auto;
    }
}