#lcEntityDetailWrap {
  background: #fff;
  @include screen(pc, t) {
    max-width: 720px;
    width: 100%;
    border: 1px solid $light-periwinkle;

  }

  @include screen(m) {
    width: 100%;
    padding: 20px 24px;

  }

  .animal {
    .animal-detail {
      .animal-info {
        @include screen(pc, t) {
          padding: 25px 36px;
          border-bottom: 1px solid $light-periwinkle;
        }

        .animal-info-img {
          display: inline-block;
          vertical-align: top;

          img {

            width: 192px;
            height: 192px;
            border-radius: 4px;

            @include screen(m) {
              width: 88px;
              height: 88px;
            }
          }
        }

        .animal-info-txt {
          display: inline-block;
          vertical-align: top;
          padding: 0 36px;

          @include screen(m) {
            padding: 0 0 0 20px;

          }

          .animal-info-detail {

            @include screen(m) {
              padding-bottom: 16px;
            }
            padding-bottom: 22px;

            ul {
              li {
                padding: 8px 0;

                &:nth-child(1) {
                  @include screen(pc, t) {
                    padding-bottom: 37px;

                  }
                }

                h2.id-txt {
                  padding-right: 12px;
                  font-size: 24px;
                  color: #000;
                  display: inline-block;

                  @include screen(m) {
                    font-size: 14px;
                  }
                }

                h2.id-number {
                  display: inline-block;
                  color: $brown-grey;
                  font-size: 24px;

                  @include screen(m) {
                    font-size: 14px;
                  }
                }

                h3.detail-txt {
                  font-size: 16px;
                  padding-right: 16px;
                  display: inline-block;

                  @include screen(m) {
                    font-size: 14px;
                  }
                }

                p.detail-number {
                  font-size: 16px;
                  color: $brown-grey;
                  display: inline-block;

                  @include screen(m) {
                    font-size: 14px;
                  }
                }
              }
            }

          }

          .animal-info-btn-area {

            @include screen(pc, t) {
              display: block;
            }

            @include screen(m) {
              display: none;
            }

            .btn-line {
              width: 150px;
            }
          }

        
        }

        .animal-info-btn-mobile {

          .btn-line {
            width: 50%;
          }

          @include screen(pc, t) {
            display: none;
          }

          @include screen(m) {
            display:flex;
          }

        }
        
      }
    }

    .animal-entity-detail {

      @include screen(pc, t) {
        padding: 35px 36px;
        border-bottom: 1px solid $light-periwinkle;
      }


      @include screen(m){
        padding: 36px 0;

      }

      ul {
        padding-top: 35px;

        li {
          display: inline-block;

          @include screen(pc, t) {
            width: 33%;
            padding-right:51px;
          }


          @include screen(m){
            vertical-align: top;
            width: 50%;
            padding-right:12px;
          }

          &:nth-child(1) {
            padding-bottom: 27px;
          }

          &:nth-child(2) {
            padding-bottom: 27px;
          }
          &:nth-child(3) {
            padding-bottom: 27px;
            padding-right: 0;
            @include screen(m){
              padding-right:12px;
            }
          }
          &:nth-child(4) {
            padding-bottom: 27px;
          }
          &:nth-child(5) {
            padding-bottom: 27px;
          }          
          &:nth-child(6){
            padding-bottom: 27px;
            padding-right:0;
            @include screen(m){
              padding-right:12px;
            }
          }
          span.title {
            font-size: 16px;
            color: #000;

            @include screen(pc, t) {
              float: left;
            }

            @include screen(m){
              display:block;
              border-bottom:1px solid $brown-grey;
              padding-bottom:8px;
              color:$brown-grey;
            }

          }

          span.txt {
            font-size: 16px;
            color: $brown-grey;

            @include screen(pc, t) {
              float: right;
            }


            @include screen(m){
              display:block;
              padding-top:8px;
            }
          }

          span.breed-txt {
            font-size: 16px;
            color: $brown-grey;
            position: absolute;
            width: 150px;
            padding-left: 40px;

            @include screen(pc, t) {
              float: right;
            }


            @include screen(m){
              display:block;
              padding-top:8px;
            }
          }
        }
      }

    }


    .animal-manage {

      @include screen(pc, t) {
        padding: 45px 36px;

      }


      @include screen(m){
      }



      .manage-entity-btn-area {
        padding-bottom: 10px;

        h3.info-label {
          display: inline-block;
          height:28px;
        }

        button.btn-line {
          width: 46px;
          height: 28px;
          float:right;
        }
      }

      .manage-entity {
        width: 312px;


        display: inline-block;
        vertical-align: top;
        @include screen(m){
          margin:20px 0;

          width:100%;
        }

        .manage-entity-list {
          width: 100%;
          height: 192px;
          border: solid 1px $light-periwinkle;
          background-color: #ffffff;
          overflow-y: auto;

          ul.not-exists {
            li {
              text-align: center;
              vertical-align: middle;
            }

          }

          &.exists {
            ul {
              padding: 0 12px;

              li {
                width: 100%;
                padding: 12px 0;
                border-bottom: 1px solid $light-periwinkle;

                span.date {
                  font-size: 14px;
                  color: #000;

                }

                span.dot {
                  font-size: 14px;
                  padding: 3px;
                  color: #000;

                }

                span.time {
                  padding-left: 3px;
                }

                span.manage-type {
                  font-size: 14px;
                  color: #000;

                }

                span.mc-note {
                  color: $brown-grey;
                  font-size: 14px;
                  line-height: 1.3;
                  display: inline-block;
                  width: 145px;
                  vertical-align: top;
                  word-break: break-all;
                }

                span.weight-note {
                  color: $brown-grey;
                  font-size: 14px;
                  line-height: 1.3;
                  display: inline-block;
                  width: 100px;
                  vertical-align: top;
                  word-break: break-all;
                }

                span.feed-note {
                  color: $brown-grey;
                  font-size: 14px;
                  line-height: 1.3;
                  display: inline-block;
                  width: 65px;
                  vertical-align: top;
                  word-break: break-all;
                }

                span.water-note {
                  color: $brown-grey;
                  font-size: 14px;
                  line-height: 1.3;
                  display: inline-block;
                  width: 70px;
                  vertical-align: top;
                  word-break: break-all;
                }

                @include screen(m){
                  span.mc-note {
                    width: 60%;
                  }
  
                  span.weight-note {
                    width: 50%;
                  }
  
                  span.feed-note {
                    width: 45%;
                  }
  
                  span.water-note {
                    width: 45%;
                  }
                }
              }
            }

          }

          &.not-exists {

            h5 {
              text-align: center;
              line-height: 190px;
              color: $brown-grey;

            }


          }
        }


      }

      .manage-entity-note {

        textarea {
          width: 100%;
          height: 150px;
          overflow-y: auto;
          border: 1px solid $light-periwinkle;
          padding: 12px;
          resize: none;
          font-size: 14px;

          &::placeholder {
            font-size: 14px;
          }
        }

      }


      .btn-area {
        padding-top: 20px;

        button.btn-green {
          width: 100%;
        }
      }

    }

    h3.info-label {
      font-size: 16px;
      color: #000;
      font-weight: bold;
    }

    .mr-12 {
      margin-right: 12px;
    }

    .mr-22 {
      margin-right: 22px;
    }

    .mt-57 {
      margin-top: 57px;
    }

    .mt-50 {
      margin-top: 50px;
    }
  }


}