#lcEntityWrap {
  max-width: 900px;
  width: 100%;


  .lc-animal {

    border: 1px solid $light-periwinkle;

    .lc-animal-tab {
      border-bottom: 1px solid $light-periwinkle;

      li {
        width: 20%;
        height: 48px;
        background-color: $pale-grey;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        border-right: 1px solid $light-periwinkle;

        &.tab_on {
          background-color: #ffffff;
        }

        &:nth-child(5) {
          border: none;
        }
      }
    }

    .lc-animal-search {
      height: 48px;
      background: #fff;
      border-bottom: 1px solid $light-periwinkle;
      display: flex;

      .search-box {
        height: 47px;
        font-size: 14px;
        width: 93%;
        padding-left: 40px;
        &::placeholder {
          color: #aaaaaa;
          text-align: center;
        }

        @include screen(m) {
          padding-left: 20px;
        }
      }
    }

    .add-btn-area-mobile {
      display: none;
      background: #fff;
      border-bottom: 1px solid $light-periwinkle;
      height: 48px;
      padding: 6px 12px;

      button.btn-green {
        width: 79px;
      }

      @include screen(m) {
        display: block;
      }
    }

    .lc-animal-list {
      background: #fff;


      table {
        width: 100%;
        text-align: center;
        table-layout: fixed;

        .entity-img{
          width:7%;

          @include screen(m) {
            width: 15%;
          }

        }
        .entity-id {
          width:20%;
          @include screen(m) {
            width: 20%;
          }
        }

        .entity-num {
          width:12%;

        }

        .entity-barcode {
          width:12%;
        }

        .entity-health {
          width:10%;
          @include screen(m) {
            width: 20%;
          }
        }

        .entity-weight {
          width:10%;
          @include screen(m) {
            width: 20%;
          }

        }

        .entity-breed {
          width:20%;
          @include screen(m) {
            width: 20%;
          }

        }

        .entity-birth {
          width:10%;
        }

        .entity-move {
          width:10%;
        }

        .on-pc{
          @include screen(m) {
            //여기서 작업
            display:none;
          }
        }


        thead {
          tr {
            border-bottom: 1px solid $light-periwinkle;
            background-color: $pale-grey;

            th {
              font-size: 14px;
              height: 48px;
              line-height: 48px;
            }
          }
        }

        tbody {

          &::before {
            content: '';
            display: block;
            height: 10px;

          }

          &::after {
            content: '';
            display: block;
            height: 10px;

          }

          tr {
            background-color: #fff;
            cursor: pointer;

            td {
              color: $brown-grey;
              height: 48px;
              vertical-align: middle;
              text-align: center;
              font-size: 14px;
              word-break:break-all;

              .list-image {
                width: 40px;
                height: 40px;
                border-radius: 4px;
                vertical-align: middle;
              }
            }
          }
        }
      }

      .pagination {
        border-top: 1px solid $light-periwinkle;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
      }
    }


  }

  .add-btn-area {

    display: none;
    @include screen(pc, t) {
      display: block;
    }

    padding: 12px 0;

    button.btn-green {
      width: 79px;
    }
  }
  .filebox{
    display: inline-block;
  }
  .filebox label {
    display: inline-block;
    cursor: pointer;
    width: 79px;
    height: 36px;
    border-radius: 4px;
    background-color: #83C772;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    padding: 0;
    outline: none;
    cursor: pointer;
    border: 0;
    align-items: flex-start;
    text-align: center;
    line-height: 36px
  }
  
  .filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}