button.card-header-button {
    border-radius: 4px;
    background-color: #fff;
    border: 1.5px solid $theme-color;
    color: $theme-color;
    
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;
    
    span {
        display: inline-block;
        font-weight: 100;
    
        -webkit-transition: color .25s ease;
        -moz-transition: color .25s ease;
        -ms-transition: color .25s ease;
        -o-transition: color .25s ease;
        transition: color .25s ease;
    }
    
    span:not(.number-badge) {
        font-size: 14px;
        vertical-align: middle;
    }
    
    span.number-badge {
        margin-left: 5px;
        vertical-align: bottom;
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: $theme-color;
        color: #fff;
        font-size: 12px;
    
        -webkit-transition: background-color .25s ease, color .25s ease;
        -moz-transition: background-color .25s ease, color .25s ease;
        -ms-transition: background-color .25s ease, color .25s ease;
        -o-transition: background-color .25s ease, color .25s ease;
        transition: background-color .25s ease, color .25s ease;
    }
    
    @include hover-active(#fff, $theme-color, "span.number-badge", $theme-color, #fff);
}


button.theme-button {
    border-radius: 4px;
    background-color: $theme-color;
    border: 1px solid $theme-color;
    color: #fff;
    font-size: 14px;
    
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease;
    
    
    &.lc-disabled {
        border: 1px solid $very-light-pink;
        background-color: $very-light-pink;
    }

    &.lc-cancel{
        border: 1px solid $very-light-pink;
        background-color: $very-light-pink;
    }
    
    @include screen(pc) {
        &:hover {
            opacity: 0.85;
        }
    }
    @include screen(t, m) {
        &:active {
            opacity: 0.85;
        }
    }
}



.three-dot-menu {
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 0 10px;
    .icon-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    i {
        display: block;
        background-color: $pale-lilac;
        width: 4px;
        height: 4px;
        margin-bottom: 4px;
        border-radius: 100%;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
    &:focus {
        outline: 0;
        > .three-dot-view-more-menu {
            display: block;
        }
    }
}

.three-dot-view-more-menu {
    position: absolute;
    z-index: 2;
    top: 80%;
    right: 0;
    width: 98px;
    background-color: #fff;
    display: none;
    ul {
        border: 1px solid $light-periwinkle;
        li {
            cursor: pointer;
            span {
                cursor: pointer;
                display: block;
                font-size: 14px;
                line-height: 36px;
            }
            
            @include screen(pc) {
                &:hover {
                    background-color: $pale-lilac;
                }
            }
            @include screen(t, m) {
                &:active {
                    background-color: $pale-lilac;
                }
            }
        }
    }
}

.theme-text-button {
    font-size: 14px;
    color: $theme-color;
    font-weight: 300;
}