section.lc-card {
    position: relative;
    z-index: 0;
    background-color: $card-body-color;
    margin-bottom: 20px;
    
    .lc-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &:last-of-type {
        margin-bottom: 0;
    }
    
    &.no-padding {
        padding: 0;
    }
    
    h2.lc-card-title {
        font-size: 24px;
        font-weight: bold;
    }
    
    .lc-card-top {
        padding: 20px;
    }
    .lc-card-bottom {
        padding: 20px;
        border-top: 1px solid $body-color;
    }
    
    p {
        font-weight: 400;
    }
    
    @include screen(pc) {
        padding: 20px;
    }
    @include screen(t, m) {
        padding: 12px;
    }
}

article.lc-content-card {
    position: relative;
    display: block;
    border-radius: 4px;
    border: 1.5px solid #ddd;
    background-color: #fff;
    
    .lc-card-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px;
        box-sizing: content-box;
        width: 36px;
        height: 36px;
        background-image: url(/public/images/commons/close-icon-pc@2x.png);
        background-repeat: no-repeat;
        -webkit-background-size: 36px;
        background-size: 36px;
        background-position: center;
    }
}