.lc-theme-checkbox-wrap {
    position: relative;
    display: flex;
    align-items: center;
    
    input[type=checkbox] {
        position: absolute;
        width: 1px;
        height: 1px;
        visibility: hidden;
        opacity: 0;
        
        &:checked ~ label.box-shape-label {
            &:after {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
        }
    }
    
    label {
        cursor: pointer;
    }
    
    .box-shape-label {
        width: 18px;
        height: 18px;
        border: 1px solid $light-periwinkle;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:after {
            content: '';
            width: 10px;
            height: 10px;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            background-color: $theme-color;
            -webkit-transition: transform .25s ease-in-out;
            -moz-transition: transform .25s ease-in-out;
            -ms-transition: transform .25s ease-in-out;
            -o-transition: transform .25s ease-in-out;
            transition: transform .25s ease-in-out;
        }
    }
    
    label.text-label {
        padding-left: 6px;
        font-size: 14px;
        color: #000;
    }
}