.lc-farm-input {
    height: 36px;
    width: 100%;
    background-color: #fff;
    border: 1px solid $light-periwinkle;
    padding: 0 12px;
    font-size: 14px;
    border-radius: 4px;

    &:disabled {
        background-color: rgba($light-periwinkle, 0.45);
        cursor: not-allowed;
    }
    &:read-only {
        background-color: rgba($light-periwinkle, 0.45);
        cursor: not-allowed;
    }
}
