$ic-modal-close: "/public/images/commons/close-icon-pc.svg";

$modal-body-color: $pale-grey;
$modal-header-border-color: #d5d5dd;

$default-modal-z-index: 20;

$modal-size-big: 912px;
$modal-size-normal: 720px;
$modal-size-small: 336px;

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: $default-modal-z-index;

    @media screen and (min-width: 769px) {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility .3s, opacity .3s;
        -moz-transition: visibility .3s, opacity .3s;
        -ms-transition: visibility .3s, opacity .3s;
        -o-transition: visibility .3s, opacity .3s;
        transition: visibility .3s, opacity .3s;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    @media screen and (max-width: 768px) {
        display: none;
        &.active {
            display: block;
        }
    }
}

.modal-wrap {
    position: relative;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0 4px 13px 10px rgba(0, 0, 0, 0.17);
    //overflow: hidden;
    overflow: visible;
    @media screen and (min-width: 769px) {
        @include modal();
    }
}

.vertical-align-wrap {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    @include screen(pc, t) {
        padding: 24px;
    }
    @include screen(m) {
        padding: 16px;
    }
    .vertical-align {
        display: table-cell;
        vertical-align: middle;
    }
}

button.lc-modal-close {
    position: absolute;
    bottom: 0;
    right: -14px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: border-box;
    background-position: left 6px bottom 8px;
    background-repeat: no-repeat;
    background-size: 36px;
    z-index: 1;
    background-image: url(/public/images/commons/close-icon-pc.svg);
    width: 64px;
    height: 64px;
    padding: 8px;
    opacity: 0.85;

    @include screen(pc) {
        &:hover {
            opacity: 1;
        }
    }
    @include screen(t, m) {
        &:active {
            opacity: 1;
        }
    }
}

section.modal-header {
    position: relative;
    background-color: $modal-body-color;
    border-bottom: 1px solid $modal-header-border-color;
    padding: 18px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    h3 {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: #000;
    }
}

section.modal-body {
    background-color: $modal-body-color;
    //overflow-y: auto;
    overflow: visible;
    padding: 18px 18px 32px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    @include screen(pc, t) {
        //max-height: 800px;
    }
    @include screen(m) {
    }
}

@import "./modals/lc-graph-modal";
@import "./modals/pesticide";
@import "./modals/pesticidemake";
@import "./modals/journal";
@import "./modals/weather";
@import "./modals/notice-detail";
@import "./modals/sensor-alarm";
@import "./modals/sensor-alarm-detail";
@import "./modals/sensor-graph";
@import "./modals/individual-control";
@import "./modals/cctv";
@import "./modals/cctv-setting";
@import "./modals/auto-control";
@import "./modals/auto-control-step";
@import "./modals/auto-control-delay-recount";
@import "./modals/auto-control-form";
@import "./modals/screen_setting";
@import "./modals/sensor-setting";
@import "./modals/motor-setting";
@import "./modals/power-setting";
@import "./modals/sensor-main-chart";
@import "./modals/sensor-temperature";
@import "./modals/accumulated-temperature";
@import "./modals/house-position-setting";
@import "./modals/sensor-gather";
@import "./modals/integrated-graph";
@import "./modals/auto-control-file-upload";
@import "./modals/sun-date-default-setting";
@import "./modals/sub-sign-up";
@import "./modals/control-min-max-range";
@import "./modals/p-band";
@import "./modals/p-band-sensor-setting";
@import './modals/sensor-group';
@import "./modals/wind-direction-setting";
@import './modals/LiterAutoReset';
@import './modals/LiterDetail';
@import './modals/auto-control-temperature-graph';
@import './modals/user';
@import './modals/userAdd';
@import './modals/panel-sound-setting';
@import './modals/panel-sound';
@import './modals/control-group';
@import './modals/control-group-setting';