$radio-background-color: #f5f5f9;
$radio-border-color: #e6e6e6;
$radio-active-font-color: #888888;


.lc-theme-radio-wrap {
    position: relative;
    display: flex;
    align-items: center;

    input[type=radio] {
        position: absolute;
        width: 1px;
        height: 1px;
        visibility: hidden;
        opacity: 0;

        &:checked ~ label.box-shape-label {
            &:after {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
        }
    }

    label {
        cursor: pointer;
    }

    .box-shape-label {
        width: 18px;
        height: 18px;
        border: 1px solid $light-periwinkle;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &:after {
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
            background-color: $theme-color;
            -webkit-transition: transform .25s ease-in-out;
            -moz-transition: transform .25s ease-in-out;
            -ms-transition: transform .25s ease-in-out;
            -o-transition: transform .25s ease-in-out;
            transition: transform .25s ease-in-out;
        }
    }

    label.text-label {
        padding-left: 6px;
        font-size: 14px;
        color: #000;
    }
}

.toggle-radio-wrap {
    position: relative;
    @include after-clear();
    display: inline-block;
    background-color: $radio-background-color;
    border-radius: 50px;
    border: 1px solid $radio-border-color;

    .disabled-wrap {
        position: absolute;
        z-index: 5;
        background-color: rgba(0,0,0, 0.25);
        width: 100%;
        height: 100%;
        border-radius: 50px;
        cursor: not-allowed;
        display: none;
    }

    .toggle-slider-icon {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        border-radius: 50px;
        width: 48px;
        height: 36px;
        z-index: 1;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    input[type=radio] {
        position: absolute;
        width: 1px;
        height: 1px;
        visibility: hidden;
        opacity: 0;
    }

    &.three-state {
        input[type=radio] {
            &:first-of-type:checked ~ .toggle-slider-icon {
                background-color: $theme-color;
                left: 0;
                visibility: visible;
                opacity: 1;
            }

            &:first-of-type:checked ~ label:first-of-type {
                color: #fff;
            }

            &:nth-of-type(2):checked ~ .toggle-slider-icon {
                background-color: $warning-color;
                left: 48px;
                visibility: visible;
                opacity: 1;
            }

            &:nth-of-type(2):checked ~ label:nth-of-type(2) {
                color: #fff;
            }

            &:last-of-type:checked ~ .toggle-slider-icon {
                background-color: $disabled-color;
                left: 96px;
                visibility: visible;
                opacity: 1;
            }

            &:last-of-type:checked ~ label:last-of-type {
                color: #fff;
            }
        }

        label {
            &:first-of-type {
                &.lc-disabled {
                    color: $light-periwinkle;
                    cursor: not-allowed;
                }
            }
            &:nth-of-type(2) {
                &.lc-disabled {
                    background-color: black;
                    opacity: 0.1;
                }
            }
            &:last-of-type {
                &.lc-disabled {
                    color: $light-periwinkle;
                    cursor: not-allowed;
                }
            }
        }
    }

    &.two-state {
        input[type=radio] {
            &:first-of-type:checked ~ .toggle-slider-icon {
                background-color: $theme-color;
                left: 0;
                visibility: visible;
                opacity: 1;
            }
            &:first-of-type:checked ~ label:first-of-type {
                color: #fff;
            }

            &:nth-of-type(2):checked ~ .toggle-slider-icon {
                background-color: $disabled-color;
                left: 48px;
                visibility: visible;
                opacity: 1;
            }
            &:last-of-type:checked ~ label:last-of-type {
                color: #fff;
            }
        }
    }

    label {
        cursor: pointer;
        float: left;
        position: relative;
        z-index: 2;
        width: 48px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: $radio-active-font-color;
        -webkit-transition: color .35s ease-in-out;
        -moz-transition: color .35s ease-in-out;
        -ms-transition: color .35s ease-in-out;
        -o-transition: color .35s ease-in-out;
        transition: color .35s ease-in-out;
    }

    &.lc-disabled-all {
        border-color: #aeaeb6;
        .disabled-wrap {
            display: block;
        }
    }

    &.lc-fat {
        .toggle-slider-icon {
            line-height: 48px;
            height: 48px;
        }
        label {
            line-height: 48px;
            height: 48px;
        }
    }
}
