.lc-select-box {
    padding: 0 12px;
    cursor: pointer;
    
    font-size: 14px;
    color: $brown-grey;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    line-height: 32px;
    
    background-image: url(/public/images/commons/select-arrow.svg);
    background-size: auto;
    background-position: right 16px center;
    background-repeat: no-repeat;
}