textarea.lc-textarea {
    display: block;
    width: 100%;
    resize: none;
    padding: 8px 12px;
    font-size: 14px;
    
    border: 1px solid $light-periwinkle;
    border-radius: 4px;
    background-color: #fff;
}