<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="icon" href="/public/images/greenlabs-favicon-16.png" sizes="16x16">
    <link rel="icon" href="/public/images/greenlabs-favicon-32.png" sizes="32x32">
    <link rel="icon" href="/public/images/greenlabs-favicon-64.png" sizes="64x64">
    <title>팜랩스 축산개체관리</title>
    <!-- inject:css -->
    <!-- endinject -->
    <script type="text/javascript">
        window.platform = 'animal';
        window.current = <%- JSON.stringify(current) %>;
        window.erpHost = <%- JSON.stringify(erpHost) %>;
        window.user = <%- JSON.stringify(user) %>;
    </script>
</head>
<body>
<div id="root"></div>
    <script type="text/javascript" src="/public/js/jsmpeg.min.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>
