#lcModalAccumulatedTemperatureWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalAccumulatedTemperature {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        
        .lc-acc-temp-label {
            display: block;
            color: $brown-grey;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 8px;
        }
        
        .acc-temp-item-wrap {
            margin-bottom: 12px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        
        .input-unit-wrap {
            position: relative;
            padding-right: 24px;
            
            span.unit-span {
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
        }
        
        .date-picker-container {
            width: 100%;
            @include after-clear();
            div.date-picker-wrap {
                float: left;
                width: 50%;
                &:first-of-type {
                    padding-right: 4px;
                }
                &:nth-of-type(2) {
                    padding-left: 4px;
                }
            }
        }
        
        button.theme-button {
            display: block;
            width: 100%;
            height: 36px;
            margin-top: 18px;
        }
    }
}