#lcModalAutoControlFormWrap {
    z-index: 20;
}

#lcModalAutoControlForm {
    @include screen(pc, t) {
        width: 672px;
    }
    @include screen(m) {
        width: 100%;
    }

    section.modal-body {
        padding: 0;

        .recommend-wrap{
            margin-bottom:8px;
            p.recommendTxt{
            }
        }

        p.lc-p-band {
            flex-basis: 70px;
            &:last-of-type {
                margin-left: 8px;
            }
        }

        input.lc-p-band {
            width: 76px;
        }

        div.lc-min-max-range-wrap {
            margin-top: 20px;
            ul.lc-min-max-range-item-wrap {
                position: relative;
                margin-top: 12px;
                li.lc-min-max-range-item {
                    position: relative;
                    display: flex;
                    margin-top: 4px;
                    div.lc-item {
                        position: relative;
                        margin-right: 4px;
                        &:nth-of-type(1) {
                            margin-right: 8px;
                            flex-basis: 18px;
                        }
                        &:nth-of-type(2) {
                            flex: 2
                        }
                        &:nth-of-type(3) {
                            flex: 1;
                        }
                        &:nth-of-type(4) {
                            margin-right: 0;
                            flex: 1;
                        }
                    }
                }
            }
        }

        div.step-active-count-wrap {
            display: flex;

            div.step-active-count-item {
                display: flex;
                flex: 1;
                align-items: center;
                .select-module-wrap {
                    display: block;
                    width: 100%;
                }
                &:first-of-type {
                    padding-right: 4px;
                }
                &:nth-of-type(2) {
                    padding-left: 4px;
                }
            }
        }

        label.auto-control-form-label {
            color: $brown-grey;
            font-size: 12px;
            font-weight: bold;
        }

        .auto-control-form-section {
            padding: 18px;
            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                border-bottom: 0
            }
        }

        #autoControlRecommendWrap{
            .select-module-wrap{
                padding-top:12px;
            }

            .auto-control-recommend-title {
                text-align :center;

                span {
                    font-size:15px;
                }

                .button-wrap{
                    margin:16px 0;
                    button.theme-button{
                        width:200px;
                        height:32px;
                        line-height:32px;
                        font-size:14px;
                    };
                }
            }

            .auto-control-recommend-list-wrap{
                padding-top: 16px;
                ul.auto-control-recommend-list {
                    display: block;

                    li{
                        display: inline-block;
                        line-height: 32px;
                        height: 32px;
                        border: 1px solid #d5d5dd;
                        -webkit-border-radius: 4px;
                        -moz-border-radius: 4px;
                        border-radius: 4px;
                        margin-right: 5px;
                        padding: 0 10px;
                        margin-bottom: 5px;
                        cursor:pointer;

                        &.is-active {
                            color:#fff;
                            background-color: $theme-color;
                            border: 1px solid $theme-color;
                        }
                    }
                }

                span.not-exists{
                    //padding:16px;
                }
            }
        }
    }

    label.modal-section-label {
        line-height: 24px;
    }
    .delay-recount-wrap {
        margin-top: 20px;
        .delay-recount-opener-wrap {
            position: relative;
            height: 24px;
            cursor: pointer;

            label.modal-section-label {
                cursor: pointer;
            }

            i.opener-btn {
                position: absolute;
                width: 24px;
                height: 24px;
                right: 0;
                top: 0;
                background-image: url(/public/images/commons/under-arrow-big@2x.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &.lc-open {
                i.opener-btn {
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }

        .delay-recount-input-container {
            margin-top: 16px;

            .delay-recount-input-wrap {
                .select-module-wrap {
                    display: block;
                    width: 100%;
                }
                @include screen(pc) {
                    &:first-of-type {
                        padding-right: 4px;
                    }
                    &:nth-of-type(2) {
                        padding-left: 4px;
                    }
                }
            }

            @include screen(pc, t) {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .delay-recount-input-wrap {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    input {
                        flex-basis: 84px;
                    }
                    span {
                        text-align: left;
                        padding-left: 8px;
                        flex: 1;
                    }
                }
            }
            @include screen(m) {
                .delay-recount-input-wrap {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    margin-bottom: 8px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    input {
                        flex-basis: auto;
                        width: 75%;
                    }
                    span {
                        text-align: center;
                        flex: 1;
                    }
                }
            }
        }
    }

    .lc-temperature-step-wrap{
        margin-top:16px;
    }

    .lc-time-select-container {
        .lc-time-form-wrap {
            margin-top: 12px;
            label.auto-control-form-label {
                display: block;
                margin-bottom: 8px;
            }
            .lc-hour-and-minute-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .time-item {
                    flex-basis: 48%;
                }
            }
            .lc-sun-date-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .time-item {
                    flex-basis: 48%;
                }
                .auto-control-form-label {
                    margin-top: 12px;
                }
            }
        }
    }


    .mix-control-container {
        padding: 0 18px;
        button.add-control-btn {
            display: block;
            width: 100%;
            height: 36px;
            font-size: 14px;
        }

        @include screen(t, m) {
            margin: 18px 0;
        }
    }

    .mix-control-wrap {
        padding: 0 16px;
        margin-bottom: 20px;
        border: 1px solid $light-periwinkle;
        border-radius: 4px;

        .not-allowed-to-create-wrap {
            height: 128px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: red;
            }
        }

        .mix-control-item-wrap {
            position: relative;
            border-bottom: 1px solid $light-periwinkle;
            padding: 14px 0;
            &:last-of-type {
                border-bottom: 0;
            }
        }

        .mix-control-header {
            span.mix-control-title {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
            }
            button.card-header-button {
                position: absolute;
                top: 10px;
                vertical-align: middle;
                //width: 50px;
                padding: 0 8px;
                height: 24px;

                &:first-of-type {
                    right: 0;
                }
                &:nth-of-type(2) {
                    right: 78px;
                }
            }
        }

        .mix-control-condition-tab-wrap {
            display: flex;
            align-items: center;
            .auto-control-form-label {
                @include screen(pc, t) {
                    margin-right: 44px;
                }
                @include screen(m) {
                    margin-right: 12px;
                }
            }

            .lc-checkbox-wrap {
                display: flex;
                align-items: center;

                .lc-theme-checkbox-wrap {
                    @include screen(pc, t) {
                        margin-right: 26px;
                    }
                    @include screen(m) {
                        margin-right: 12px;
                    }
                }
            }
        }

        .mix-control-time-condition-wrap {
            .auto-control-form-label {
                display: block;
                margin-bottom: 16px;
            }
            @include after-clear();

            .select-module-wrap {
                display: block;
            }
        }

        .lc-mix-sensor-container {
            padding-right: 18px;
            width: 50%;

            .mix-sensor-radio-wrap {
                display: flex;

                padding: 12px 0;
                .lc-theme-radio-wrap {
                    flex: 1;
                }
            }

            div.lc-mix-sensors-wrap {
                padding-left: 0 !important;
                padding-right: 0 !important;
                padding-bottom: 20px !important;
                width: 100% !important;
                border-left: 0 !important;

                &:nth-of-type(n+2) {
                    border-top: 1px solid $light-periwinkle;
                    padding-top: 20px !important;
                    button.mix-text-btn {
                        top: 20px;
                    }
                }

                &:last-of-type {
                    padding-bottom: 0 !important;
                }
            }
        }

        .mix-control-sensor-wrap {
            display: flex;

            div.auto-control-condition-wrap {
                position: relative;

                button.mix-text-btn {
                    position: absolute;
                    top: 0;
                    right: 18px;
                    font-size: 14px;
                    color: $theme-color;
                    z-index: 0;
                }

                .form-flex-wrap {
                    margin-top: 16px;
                }
            }

            .auto-control-execution-wrap {
                padding-right: 0 !important;
            }

            div.auto-control-setting-form {
                float: none !important;
            }

            @include screen(t, m) {
                display: block;

                .lc-mix-sensor-container {
                    display: block;
                    width: 100% !important;
                }

                .auto-control-setting-form {
                    display: block;
                    width: 100% !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }

    }

    div#autoControlTypeTab {
        display: flex;
        align-items: center;
        label.auto-control-form-label {
            margin-right: 26px;
        }

        .type-tab-wrap {
            button.type-tab {
                width: 48px;
                height: 32px;
                border: 1px solid $very-light-pink;
                border-radius: 4px;
                color: $very-light-pink;
                font-weight: 100;
                font-size: 14px;
                margin-right: 8px;
                &:last-of-type {
                    margin-right: 0;
                }

                &.lc-active {
                    background-color: $theme-color;
                    border-color: $theme-color;
                    color: #fff;
                }
            }
        }

    }

    div#autoControlNameWrap {
        label.auto-control-form-label {
            display: block;
            margin-top: 12px;
            margin-bottom: 8px;

            &:first-of-type {
                margin-top: 0;
            }
        }
        input {
            display: block;
        }
        .step-delay-flex-wrap {
            position: relative;
            padding-right: 32px;

            input {
                display: block;
                width: 100%;
            }
            span {
                position: absolute;
                top: 50%;
                right: 0;
                padding-right: 8px;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
        }
    }

    div#autoControlDateWrap {
        position: relative;

        label.auto-control-form-label {
            display: block;
            margin-bottom: 8px;
        }

        div.day-label-radio-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            label.auto-control-form-label {
                margin-right: 24px;
            }

            .lc-theme-radio-wrap {
                top: 2px;
                &:first-of-type {
                    margin-right: 12px;
                }
            }
        }

        button.theme-text-button {
            position: absolute;
            right: 18px;
            top: 12px;
            font-size: 14px;
            padding: 0 8px;
        }

        .select-module-wrap {
            width: 100%;
            margin-bottom: 12px;
        }

        .date-picker-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .date-picker-wrap, .input-wrap {
                flex-basis: 47.5%;
            }
        }
        .input-wrap {
            display: flex;
            align-items: center;
            .lc-farm-input {
                flex: 1;
            }
            span {
                flex-basis: 50px;
                text-align: right;
            }
        }
    }

    .lc-setting-form-wrap {
        margin-top: 16px;

        .form-flex-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }

            &.lc-expect-temperature-wrap{
                margin-top:16px;

                .left-item{
                    flex-basis : auto;
                    max-width: 150px;
                    width: 100%;

                    &.temperature-sensor-wrap {
                        margin-right:8px;
                    }

                    .sub-left-item{
                        display:flex;
                        align-items:center;

                        label.value-label{
                            width:70px;
                            margin-left:5px;
                        }
                    }
                }
            }

            &.auto-control-sensor-setting{
                padding-bottom:12px;
                border-bottom: 1px solid $light-periwinkle;

                .left-item{
                    &:first-of-type {
                        padding-right: 4px;
                    }

                    &:last-of-type {
                        padding-left : 4px;
                    }
                }
            }

            &.lc-temperature-content-wrap{
                margin-top:16px;
                .sub-left-item{
                    display:flex;
                    align-items:center;
                    label.value-label{
                        width:70px;
                        margin-left:5px;
                    }
                }
                .left-item{
                    margin-right:8px;
                }
            }



            p.form-flex-label{
                padding-bottom:8px;
            }

            .half-item{
                flex-basis : auto;
                max-width: 150px;
                width: 100%;
            }

            .left-item {
                flex-basis: auto;
                max-width: 248px;
                width: 100%;

                &.select-and-input-wrap {
                    @include after-clear();

                    &.p-band-select-wrap{

                        .p-band-select{
                            width: 60.4545%;
                            padding-right: 3px;
                        }
                    }

                    .select-and-input {
                        float: left;

                        &:first-of-type {
                            width: 60.4545%;
                            padding-right: 3px;
                        }

                        &.input-auto-control{
                            width: 39.5454%;
                            padding-left: 3px;
                        }
                    }

                }
            }

            .lc-modifier {
                flex-basis: auto;
                min-width: 50px;
                padding-left: 6px;
            }
        }

        ul.auto-control-sensors{
            li{
                margin:16px 0;
                border-bottom: 1px solid $light-periwinkle;
                &:nth-last-child(1){
                    border-bottom:none;
                }
            }
        }

        .auto-control-sensor{
            padding-bottom:12px;
            .form-flex-wrap{
                align-items: initial;

                .left-item{
                    &:first-of-type {
                        padding-right: 4px;
                    }

                    &:last-of-type {
                        padding-left : 4px;
                    }
                }
            }

        }

        .remove-button-wrap{
            text-align:right;
        }

        .button-wrap{
            padding-bottom:8px;
            text-align: right;
        }



        @include screen(t, m) {
            .form-flex-wrap {
                .left-item {
                    max-width: none;
                }

                .half-item{
                    max-width: none;
                }
            }
        }
    }

    p.execution-ment {
        margin-top: 20px;
    }

    div#autoControlSettingWrap {
        position: relative;
        padding: 18px 0;

        hr.hr {
            position: relative;
            display: block;
            margin-top: 0;
            margin-bottom: 14px;
            border: 0;
            width: 100%;
            height: 1px;
            background-color: $light-periwinkle;
        }

        @include screen(pc, t) {
            @include after-clear();
            div.auto-control-setting-form {
                padding: 0 18px;
                width: 50%;
                float: left;

                //&:nth-of-type(2) {
                //    border-left: 1px solid $light-periwinkle;
                //}
            }
            i.hr {
                position: absolute;
                top: 18px;
                left: 50%;
                width: 1px;
                height: calc(100% - 36px);
                background-color: $light-periwinkle;
            }
        }

        @include screen(m) {
            padding: 0;

            div.auto-control-setting-form {
                padding: 18px;
            }

            div.auto-control-condition-wrap {
                //border-bottom: 1px solid $light-periwinkle;
            }
            i.hr {
                display: none;
            }
            hr.hr {
                display: none;
            }
        }
    }

    div.auto-control-setting-form{
        .lc-temperature-step-wrap{

            .lc-expect-temperature-wrap{
                display: flex;
                margin-top:16px;

                .left-item{
                    flex-basis : auto;
                    max-width: 150px;
                    width: 100%;

                    &.temperature-sensor-wrap {
                        margin-right:8px;
                    }

                    .sub-left-item{
                        display:flex;
                        align-items:center;

                        label.value-label{
                            width:70px;
                            margin-left:5px;
                        }
                    }
                }
            }

            .lc-temperature-content-wrap {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                margin-top: 16px;

                .left-item{
                    flex-basis : auto;
                    max-width: 150px;
                    width: 100%;

                    .sub-left-item{
                        display:flex;
                        align-items:center;

                        label.value-label{
                            width:70px;
                            margin-left:5px;
                        }
                    }


                }
            }

            .form-flex-label{
                margin-bottom: 8px;
            }
        }

    }

    div#autoControlButtonWrap {
        @include after-clear();
        .button-wrap {
            width: 50%;
            float: left;
            &:first-of-type {
                padding-right: 18px;
            }
            &:last-of-type {
                padding-left: 18px;
            }
            button {
                display: block;
                width: 100%;
                font-size: 14px;
                height: 36px;
            }
        }
    }


    #autoControlTableWrap{
        div.auto-control-table-option{
            display: flex;
            .table-option-wrap{
                flex-basis: auto;
                width: 50%;
                height:48px;
                max-width:50%;

                .table-option{
                    display: flex;
                    height: 48px;
                    padding-top: 12px;

                    .select-module-wrap{
                        width: 100%;
                    }

                    .lc-theme-radio-wrap{
                        padding-right: 12px;
                    }
                }

                label.auto-control-form-label{
                    margin-bottom: 12px;
                }
            }
        }

        .auto-control-list-wrap{
            width: 50%;
            align-items: center;
            .auto-control-item{
                display:flex;
                padding-bottom:8px;
                .select-module-wrap{
                    width:100%;
                }

                button.theme-text-button{
                    width:50px;
                }
            }
        }

        .auto-control-table{
            width: 100%;
            ul{
                &:nth-last-child(1){
                    border-right: 1px solid #ddd;
                }
                &:nth-child(7n){
                    border-right: 1px solid #ddd;
                }
                li{
                    height: 30px;
                    border-width: 1px 0 0 1px;
                    border-color: #ddd;
                    border-collapse: collapse;
                    border-style: solid;

                    &:nth-last-child(1){
                        border-bottom: 1px solid #ddd;
                    }
                    span{
                        height:30px;
                        line-height: 30px;
                    }

                }

                &.auto-control-table-title{
                    display:inline-block;
                    width: 25%;
                    vertical-align: top;
                    margin-bottom: 12px;

                    &.title{

                    }

                    li{
                        span{
                            padding-left: 5px;
                            line-height: 24px;
                        }
                    }
                }

                &.auto-control-table-content{
                    display:inline-block;
                    width: 12.5%;
                    vertical-align: top;
                    margin-bottom: 12px;

                    li{
                        text-align: center;
                        &.table-content-title{

                        }

                        button.card-header-button{
                            width: 85%;
                            padding: 3px;
                            margin: 1px 6px;
                        }
                    }


                }
            }
        }

        .auto-control-table-detail-wrap{
            .auto-control-detail-form{
                margin-bottom:12px;

                @include screen(pc, t) {
                    display: flex;
                }
                .left-item{
                    width: 50%;
                    max-width:50%;

                    @include screen(m) {
                        width: 100%;
                        max-width: 100%;
                    }

                    @include screen(pc, t) {
                        &:nth-child(1){
                            padding-right: 18px;
                            border-right: 1px solid $light-periwinkle;
                        }
                        &:nth-child(2){
                            padding-left: 18px;
                        }
                    }

                    .auto-control-sensor-form-wrap{
                        margin: 8px 0;
                        padding-bottom:8px;
                        border-bottom:1px solid $light-periwinkle;
                        &:nth-last-child(1){
                            border-bottom:none;
                        }
                    }

                    .detail-item{
                        display: flex;
                        align-items: center;
                        margin-bottom: 8px;

                        &.option-value-form{
                            padding-bottom:8px;
                            border-bottom : 1px solid $light-periwinkle;
                        }

                        .detail-item-label{
                            width:70px;
                        }

                        .select-module-wrap{
                            flex-basis:215px;
                            padding: 0 3px;

                            &.time-select{
                                flex-basis:107px;
                            }
                        }

                        .detail-sub-item{
                            flex-basis:215px;
                            .select-module-wrap{
                                margin-bottom:8px;
                            }
                        }

                        .detail-temperature-label{
                            display: block;
                            margin-bottom: 8px;
                        }

                        .detail-temperature-item{
                            width: 50%;
                        }
                    }
                }

            }

            .auto-control-sensor-button-wrap{
                text-align: right;
            }


        }

        .auto-control-form-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom:8px;
            margin-bottom:18px;

            &.auto-control-detail-header{
                justify-content: flex-start;
                border-bottom: 1px solid $light-periwinkle;

                .select-module-wrap{
                    width:20%;
                    max-width: 180px;
                    margin-left : 8px;
                }
            }
        }

        .temperature-option-graph-wrap{
            padding:18px;

            .temperature-option-graph-header{
                margin-bottom:12px;
            }
        }

        .button-wrap{
            display:block;
            button.theme-button{
                width:100%;
                height:36px;
            }
        }
    }

}
