#lcModalAutoControlTemperatureGraphWrap {
    //z-index: 20; specify z-index when modal on modal
    vertical-align-wrap{
        &.full-screen{
            padding:0;
            .vertical-align {
                display:block;
                height:100%;
                #lcModalAutoControlTemperatureGraph{
                    width:100%;
                    height:100%;
                    .lc-graph-modal{
                        height:96%;

                        #chartWrapper {
                            height:95%;
                            #multiChartDiv{
                                height:100%;
                            }
                        }
                    }

                }
            }
        }
    }
}

#lcModalAutoControlTemperatureGraph {
    overflow: visible;
    @include screen(m) {
        width: 100%;
    }

    .card-header-button {
        width: 135px;
        height: 36px;
        margin-top:20px;
        font-size:14px;
        font-weight:100;
    }

    section.modal-body {
        overflow: visible;
        padding:32px;
    }
    section.graph-wrap {
        .graph-item-wrap {
            position: relative;
            background-color: #fff;
            border: 1px solid $light-periwinkle;
            border-radius: 4px;
            overflow: hidden;
        }

    }
    section.lc-graph-bottom-wrap{
        p.lc-average{
            padding: 12px 0;
        }

        .button-wrap{
            padding-top: 24px;
            button.theme-button{
                display: block;
                width: 50%;
                margin: 0 auto;
                font-size: 14px;
                height: 36px;
            }
        }

        .lc-select-chart{
            .select-chart-title{
                padding: 12px 0;
            }
            .select-module-wrap{
                width:320px;
            }
        }
    }
}