#lcModalAutoControlStepWrap {
    z-index: 20;
}

#lcModalAutoControlStep {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 0;
        
        
        label.modal-section-label {
            display: block;
            font-size: 14px;
            color: #000;
            margin-bottom: 8px;
        }
        
        article.step-setting-info-wrap {
            position: relative;
            padding: 16px 12px;
            background-color: #fff;
            border: 1px solid $pale-lilac;
            border-radius: 4px;
            
            span.step-index {
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                font-weight: bold;
            }
            
            .lc-close-btn {
                position: absolute;
                z-index: 1;
                right: 4px;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
                width: 36px;
                height: 36px;
                background-image: url(/public/images/commons/close-icon-pc@2x.png);
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;
            }
            
            p.step-description {
                position: relative;
                padding-left: 24px;
                word-break: keep-all;
                font-size: 14px;
                color: #000;
                line-height: 1.24;
            }
            
            &.has-steps {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        
        .basic-setting-wrap {
            padding: 18px;
            border-bottom: 1px solid $light-periwinkle;
            
            article.step-setting-info-wrap {
                //margin-top: 5px;
            }
        }
        
        .step-setting-wrap {
            padding: 18px;
            
            .form-flex-wrap {
                display: flex;
                align-items: center;
                margin-top: 8px;
    
                .lc-modifier {
                    text-align: center;
                    flex: 1;
                }
            }
            
            .select-container {
                position: relative;
                z-index: 10;
                margin-top: 4px;
                .select-module-wrap {
                    margin-top: 8px;
                }
    
                .select-and-input-wrap {
                    @include after-clear();
                    
                    .select-module-wrap {
                        margin-top: 0;
                    }
        
                    .select-and-input {
                        float: left;
                        &:first-of-type {
                            width: 60.4545%;
                            padding-right: 3px;
                        }
                        &:last-of-type {
                            width: 39.5454%;
                            padding-left: 3px;
                        }
                    }
                }
            }
            
            .delay-recount-wrap {
                margin-top: 20px;
                .delay-recount-opener-wrap {
                    position: relative;
                    height: 24px;
                    cursor: pointer;
                    
                    label.modal-section-label {
                        line-height: 24px;
                        cursor: pointer;
                    }
                    
                    i.opener-btn {
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        right: 0;
                        top: 0;
                        background-image: url(/public/images/commons/under-arrow-big@2x.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                    
                    &.lc-open {
                        i.opener-btn {
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            -ms-transform: rotate(180deg);
                            -o-transform: rotate(180deg);
                            transform: rotate(180deg);
                        }
                    }
                }
                
                .delay-recount-input-container {
                    margin-top: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .delay-recount-input-wrap {
                        display: flex;
                        flex: 1;
                        align-items: center;
                        input {
                            flex-basis: 84px;
                        }
                        span {
                            text-align: center;
                            flex: 1;
                        }
                    }
                }
            }
        }
        
        button.theme-button {
            margin-top: 20px;
            display: block;
            width: 100%;
            height: 36px;
        }
        
        ol.added-step-setting-list {
            li {
                article.step-setting-info-wrap {
                    p.step-description {
                        padding-right: 18px;
                    }
                    border-bottom: 0;
                    border-radius: 0;
                }
                
                &:first-of-type {
                    article.step-setting-info-wrap {
                        border-top: 0;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
                
                &:last-of-type {
                    article.step-setting-info-wrap {
                        border-bottom: 1px solid $pale-lilac;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }
            }
        }
    }
}