#lcModalAutoControlDelayRecountWrap {
    z-index: 20;
}

#lcModalAutoControlDelayRecount {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 18px;
        
        .lc-delay-wrap {
            
            .select-module-wrap {
                width: 48%;
                display: inline-block;
                vertical-align: middle;
            }
            
            .lc-delay-input-container {
                width: 52%;
                display: inline-block;
                vertical-align: middle;
                font-size: 0;
            }
            .lc-delay-input-wrap {
                padding-left: 8px;
                display: flex;
                align-items: center;
                font-size: 14px;
                input {
                    flex-basis: 50%;
                }
                
                .delay-recount-description {
                    flex-basis: 50%;
                    text-align: center;
                }
            }
        }
        .lc-recount-input-wrap {
            margin-top: 8px;
            width: 50%;
            display: flex;
            align-items: center;
            input {
                flex: 1;
            }
        
            .delay-recount-description {
                flex: 1;
                text-align: center;
            }
        }
        button.theme-button {
            margin-top: 16px;
            display: block;
            height: 36px;
            width: 100%;
        }
    }
}