#lcModalAutoControlWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalAutoControl {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }

    section.modal-body {
        padding: 0;

        .no-auto-control-text {
            line-height: 56px;
            text-align: center;
        }

        #controlContentWrap {
            padding: 18px;

            button.theme-button {
                width: 100%;
                height: 36px;
            }
        }

        ul#controlList {
            margin: -8px;
            @include after-clear();
            li.control-list-item {
                float: left;
                padding: 8px;

                @include screen(pc, t) {
                    width: 33.33333%;
                }
                @include screen(m) {
                    width: 50%;
                }

                button.card-header-button {
                    width: 100%;
                    height: 36px;
                    font-size: 14px;
                }
            }
        }

        .lc-theme-checkbox-wrap {
            padding-top: 16px;
            padding-left: 16px;
        }

        .control-section-wrap {
            position: relative;
            z-index: 10;
            border-bottom: 1px solid $light-periwinkle;
            padding: 16px;

            .button-wrap {

                @include screen(pc, t) {
                    text-align: right;
                }
                @include screen(m) {
                    display: flex;
                    justify-content: space-between;
                    button.theme-text-button {
                        &:first-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
            button.theme-text-button {
                padding: 4px;

                &:first-of-type {
                    margin-right: 20px;
                }
            }

            .select-module-wrap {
                position: relative;
                margin-top: 10px;
                z-index: 15;
                @include screen(pc, t) {
                    max-width: 50%;
                }
            }
        }

        .list-section-wrap {
            position: relative;
            z-index: 2;
            padding: 16px;
        }

        p.modal-description-text {
            padding: 0 16px 32px;
            font-size: 12px;
            color: $brown-grey;
            br {
                display: none;
            }
            @include screen(m) {
                line-height: 1.6;
                br {
                    display: block;
                }
            }
        }

        .auto-control-child-wrap {
            padding: 0 4px;

            p.no-auto-control-child-p {
                padding: 12px;
                border-left: 1px solid $light-periwinkle;
                border-right: 1px solid $light-periwinkle;
                border-bottom: 1px solid $light-periwinkle;
            }

            ul.control-child-list {
                background-color: $pale-grey;
                padding: 0 12px;
                border-left: 1px solid $light-periwinkle;
                border-right: 1px solid $light-periwinkle;
                border-bottom: 1px solid $light-periwinkle;
                li.control-child-list-item {
                    padding: 16px 0;
                    border-bottom: 1px solid $light-periwinkle;
                    &:last-of-type {
                        border: 0;
                    }
                }
            }

            .auto-control-child-content-wrap {
                display: flex;
                span.control-child-index {
                    margin-right: 12px;
                    font-size: 14px;
                }
                p.control-child-text {
                    font-size: 14px;
                    word-break: keep-all;
                }

                div.partial-control-wrap {
                    line-height: 1.42;
                }
            }
        }

        .item-open-close-button-wrap {
            @include after-clear();

            .card-header-button {
                margin-bottom: 8px;
                float: left;
                font-size: 14px;
                padding: 0 16px;
                height: 32px;
                margin-right: 8px;

                &:last-of-type {
                    margin-right: 0;
                    float: right;
                }

                @include screen(m) {
                    &:last-of-type {
                        float: left;
                    }
                }
            }
        }

        ul#autoControlList {
            li.auto-control-list-item {
                position: relative;
                margin-bottom: 8px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .lc-content-card {
            position: relative;
            height: 56px;
            display: block;
            padding: 0 8px;
        }

        .lc-control-name-wrap {
            overflow: hidden;
            width: 100%;
            height: 100%;

            p {
                font-size: 15px;
                padding-right: 186px;
                line-height: 56px;
                text-overflow: ellipsis;
            }
            span {
                &.lc-control-name-index {
                    margin-right: 8px;
                }
            }
        }

        .lc-control-wrap {
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            flex-basis: auto;
            max-width: 190px;

            .ordinary-menu-wrap {
                display: flex;
                align-items: center;
                margin-right: 8px;
            }

            .ordering-menu-wrap {
                display: flex;
                align-items: center;
                margin-right: 8px;

                i.preload-img {
                    background-image: url(/public/images/commons/order-down-active@2x.png);
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                }

                button.order-btn {
                    padding: 6px;
                    width: 24px;
                    height: 24px;
                    background-image: url(/public/images/commons/order-down@2x.png);
                    background-position: center;
                    -webkit-background-size: 24px;
                    background-size: 24px;
                    background-repeat: no-repeat;
                    -webkit-box-sizing: content-box;
                    -moz-box-sizing: content-box;
                    box-sizing: content-box;

                    &.order-up {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                    &:nth-of-type(2) {
                        margin-left: 8px;
                    }

                    @include screen(pc) {
                        &:hover {
                            background-image: url(/public/images/commons/order-down-active@2x.png);
                        }
                    }
                    @include screen(t, m) {
                        &:active {
                            background-image: url(/public/images/commons/order-down-active@2x.png);
                        }
                    }
                }
            }

            .auto-control-child-count {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background-color: $theme-color;
                text-align: center;
                line-height: 18px;
                color: #fff;
                font-size: 12px;
                padding-left: 1px;
                margin-right: 8px;
            }

            button.open-menu-btn {
                margin-right: 8px;
                width: 24px;
                height: 24px;
                background-image: url(/public/images/commons/under-arrow-big@2x.png);
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                background-position: center;

                &.lc-open {
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }

            .three-dot-menu {
                width: 24px;
                height: 24px;
                z-index: 5;

                .three-dot-view-more-menu {
                    width: 120px;
                    top: 100%;
                }
            }
        }
    }

    .auto-control-table{
        background-color: #f5f5f9;
        padding: 12px;
        border-left: 1px solid #d5d5dd;
        border-right: 1px solid #d5d5dd;
        border-bottom: 1px solid #d5d5dd;
        p.auto-control-table-title{
            padding-bottom:12px;
        }
        ul{
            &.table-border-right{
                border-right: 1px solid #ddd;
            }

            li{
                height: 30px;
                border-width: 1px 0 0 1px;
                border-color: #ddd;
                border-collapse: collapse;
                border-style: solid;

                &:nth-last-child(1){
                    border-bottom: 1px solid #ddd;
                }
                span{
                    height:30px;
                    line-height: 30px;
                }

            }

            &.auto-control-table-title{
                display:inline-block;
                width: 25%;
                vertical-align: top;
                margin-bottom: 12px;

                &.title{

                }

                li{
                    span{
                        padding-left: 5px;
                        line-height: 24px;
                    }
                }
            }

            &.auto-control-table-content{
                display:inline-block;
                width: 12.5%;
                vertical-align: top;
                margin-bottom: 12px;

                li{
                    text-align: center;
                    &.table-content-title{

                    }

                    button.card-header-button{
                        width: 85%;
                        padding: 3px;
                        margin: 1px 6px;
                    }
                }


            }
        }

        .table-description-text{
            font-size: 12px;
            color: $brown-grey;
        }
    }
}
