#lcModalAutoControlFileUploadWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalAutoControlFileUpload {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        label.title-label {
            display: block;
            margin-bottom: 8px;
            color: $brown-grey;
            font-size: 12px;
            font-weight: bold;
        }
        
        div.input-file-upload-wrap {
            position: relative;
            padding-right: 68px;
            input[type=file] {
                position: absolute;
                width: 1px;
                height: 1px;
                opacity: 0;
                visibility: hidden;
            }
            
            label.input-shape-label {
                display: block;
                height: 36px;
                padding: 0 8px;
                line-height: 34px;
                font-size: 14px;
            }
            
            label.button-shape-label {
                cursor: pointer;
                position: absolute;
                right: 0;
                top: 0;
                line-height: 34px;
                text-align: center;
                width: 56px;
                height: 36px;
                border-radius: 4px;
                background-color: $theme-color;
                border: 1px solid $theme-color;
                color: #fff;
                font-size: 14px;
    
                @include screen(pc) {
                    &:hover {
                        opacity: 0.85;
                    }
                }
                @include screen(t, m) {
                    &:active {
                        opacity: 0.85;
                    }
                }
            }
        }
        
        button.theme-button {
            width: 100%;
            height: 36px;
            margin-top: 12px;
        }
    }
}