#lcModalCCTVSettingWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalCCTVSetting {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 0;
    }
    
    section.cctv-timer-wrap {
        padding: 16px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-periwinkle;
        
        label.title-label {
            margin-right: 24px;
        }
    }
    
    section.cctv-name-change-wrap {
        padding: 16px 16px 32px;
        
        ul#cctvInputList {
            font-size: 0;
            li {
                display: block;
                font-size: 14px;
                margin-top: 12px;
                width: 100%;
            }
        }
        
        .theme-button {
            display: block;
            margin-top: 20px;
            width: 100%;
            height: 36px;
        }
    }
}