#lcModalCCTVWrap {
    //z-index: 20; specify z-index when modal on modal

    @media screen {

    }

    @include screen(m) {
        .vertical-align-wrap {
            padding: 0;
        }
        @media (orientation: portrait) {
            position: fixed;
            background-color: transparent;
            height: auto;
            overflow-y: hidden;
            width: 100%;
            top: 0;
            left: 0;
        }
        @media (orientation: landscape) {

        }
    }
}

#lcModalCCTV {
    @include screen(pc) {
        width: $modal-size-big;
    }
    @include screen(t) {
        width: 100%;
    }
    @include screen(m) {
        width: 100%;
    }

    section.modal-body {
        padding: 0;

        div#modalCCTVWrap {
            @include screen(pc, t) {
                height: 514px;
            }
            canvas {
                height: 100%;
            }
        }
    }

    section.modal-footer {
        width: 100%;

        div.lc-cctv-footer-button-wrap {
            height:50px;
            background-color: $pale-lilac;
            display:flex;
            align-items: center;
            justify-content: center;

            @include screen(m) {
                height:55px;
            }

            div {
                width:100%;
                max-width:38px;
                border-radius: 19px;
                background-color: #ffffff;
                cursor:pointer;
                margin:0 5px;

                @include screen(m) {
                    margin:0 3.95px;
                }

                span {
                    width:38px;
                    height:38px;
                    display:inline-block;
                    background-size:cover;
                    background-repeat:no-repeat;
                    background-position:center;

                    @include screen(m) {
                        width:100%;
                        height:9vw;
                        //max-width:35.6px;
                        max-height:35.6px;

                    }
                }
                &:nth-of-type(1) span {background-image: url(/public/images/farm/cctv/cctv-arrow-l@2x.png);}
                &:nth-of-type(2) span {background-image: url(/public/images/farm/cctv/cctv-arrow-r@2x.png);}
                &:nth-of-type(3) span {background-image: url(/public/images/farm/cctv/cctv-arrow-u@2x.png);}
                &:nth-of-type(4) span {background-image: url(/public/images/farm/cctv/cctv-arrow-d@2x.png);}
                &:nth-of-type(5) span {background-image: url(/public/images/farm/cctv/cctv-home@2x.png);}
                &:nth-of-type(6) span {background-image: url(/public/images/farm/cctv/cctv-zoom-in@2x.png);}
                &:nth-of-type(7) span {background-image: url(/public/images/farm/cctv/cctv-zoom-out@2x.png);}
                &:nth-of-type(8) span {background-image: url(/public/images/farm/cctv/cctv-fullscreen@2x.png);}

                @include screen(m) {
                    &:nth-of-type(1) span {background-image: url(/public/images/farm/cctv/m-cctv-arrow-l@3x.png);}
                    &:nth-of-type(2) span {background-image: url(/public/images/farm/cctv/m-cctv-arrow-r@3x.png);}
                    &:nth-of-type(3) span {background-image: url(/public/images/farm/cctv/m-cctv-arrow-u@3x.png);}
                    &:nth-of-type(4) span {background-image: url(/public/images/farm/cctv/m-cctv-arrow-d@3x.png);}
                    &:nth-of-type(5) span {background-image: url(/public/images/farm/cctv/m-cctv-home@3x.png);}
                    &:nth-of-type(6) span {background-image: url(/public/images/farm/cctv/m-cctv-zoom-in@3x.png);}
                    &:nth-of-type(7) span {background-image: url(/public/images/farm/cctv/m-cctv-zoom-out@3x.png);}
                    &:nth-of-type(8) span {background-image: url(/public/images/farm/cctv/m-cctv-fullscreen@3x.png);}
                }
                &.active-div {
                  background-color:$theme-color;
                }

                &.active-arrow-l > span {
                    background-image: url(/public/images/farm/cctv/cctv-arrow-l-white@2x.png);
                    @include screen(m) {background-image: url(/public/images/farm/cctv/m-cctv-arrow-l-white@3x.png);}
                }
                &.active-arrow-r > span {
                    background-image: url(/public/images/farm/cctv/cctv-arrow-r-white@2x.png);
                    @include screen(m) {background-image: url(/public/images/farm/cctv/m-cctv-arrow-r-white@3x.png);}
                }
                &.active-arrow-u > span {
                    background-image: url(/public/images/farm/cctv/cctv-arrow-u-white@2x.png);
                    @include screen(m) {background-image: url(/public/images/farm/cctv/m-cctv-arrow-u-white@3x.png);}
                }
                &.active-arrow-d > span {
                    background-image: url(/public/images/farm/cctv/cctv-arrow-d-white@2x.png);
                    @include screen(m) {background-image: url(/public/images/farm/cctv/m-cctv-arrow-d-white@3x.png);}
                }
                &.active-zi > span {
                    background-image: url(/public/images/farm/cctv/cctv-zoom-in-white@2x.png);
                    @include screen(m) {background-image: url(/public/images/farm/cctv/m-cctv-zoom-in-white@3x.png);}
                }
                &.active-zo > span {
                    background-image: url(/public/images/farm/cctv/cctv-zoom-out-white@2x.png);
                    @include screen(m) {background-image: url(/public/images/farm/cctv/m-cctv-zoom-out-white@3x.png);}
                }
                }
            }
        }
    }

