#lcModalControlGroupWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalControlGroup {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }

    .button-wrap{
        text-align : right;
        button.theme-text-button{

        }
    }

    .control-group-name-wrap{
        label.form-label{

        }

    }

    .control-group-list-wrap{
        padding-top:18px;
        >ul{
            >li{
                display:flex;
                flex-basis: auto;
                align-items : center;
                justify-content: space-between;

                height:48px;
                padding: 10px;
                border: 1px solid #d5d5dd;
                border-radius : 4px;
                background-color:#fff;
                margin-bottom:12px;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .lc-control-group-name-wrap{

                    font-size:14px;
                    line-height:36px;
                    text-overflow : ellipsis;

                    span.lc-control-group-name-index{
                        margin-right: 8px;
                    }
                }

                .control-group-option {
                    display : flex;
                    align-items: center;
                }

                .icon-wrap {
                    i{
                        width:3px;
                        height:3px;
                    }
                }

                .three-dot-view-more-menu{
                    z-index : 4;
                }
            }
        }

        .empty-item{
            padding: 30px 0;
            border: 1px solid #d5d5dd;
            border-radius : 4px;
            background-color:#fff;
            
            p{
                text-align: center;
            }
        }
        
    }

}
