#lcModalControlMinMaxRangeWrap {

}

#lcModalControlMinMaxRange {
  @include screen(pc, t) {
    width: $modal-size-big;
    ul {
      li.lc-item {
        display: flex;
        flex-direction: row;
      }
      div.lc-theme-checkbox-wrap {
        margin-right: 8px;
        flex-basis: 18px;
      }
      div.lc-item {
        margin-right: 4px;
        flex: 1;
      }
      div.lc-button-wrap {
        margin-right: 4px;
        flex-basis: 50px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
  @include screen(m) {
    width: 100%;
    div.lc-theme-checkbox-wrap {
      margin-bottom: 8px;
    }
    div.lc-item {
      margin-bottom: 8px;
    }
  }

  .lc-not-allow {
    cursor: not-allowed;
  }

  ul {
    position: relative;
    li.lc-item {
      position: relative;
      margin-bottom: 16px;
      border: 1px solid $light-periwinkle;
      border-radius: 4px;
      padding: 8px;
      @include after-clear();
    }
    div.lc-item {
      position: relative;
    }
    div.lc-button-wrap {
      position: relative;
    }
    button {
      width: 100%;
      height: 36px;
      font-size: 14px;
    }
  }
}
