#lcModalControlGroupSettingWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalControlGroupSetting {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }

    .modal-body{
        padding:0;
    }

    .control-group-name-wrap{
        padding: 18px;
        border-bottom:1px solid $light-periwinkle;
        h3.form-label{
            padding: 10px 0;
        }

    }

    .control-list-wrap{
        padding:18px;

        .control-list {
            border : 1px solid $light-periwinkle;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;

            .control-list-title{
                padding:15px 10px;
                border-bottom:1px solid $light-periwinkle;
            }

            .control-list-items{
                padding:10px;
                li {
                    &:first-of-type {
                        padding-top: 10px;
                    }

                    &:last-of-type {
                        padding-bottom: 10px;
                    }
                    padding: 8px;
                }
            }

        }
    }

    .button-wrap{
        padding:18px;

        button.theme-button{
            width:100%;
            height: 36px;
        }
    }

}
