#lcModalHousePositionSettingWrap {
  #lcModalHousePositionSetting {

    @include screen(pc, t) {
      width: $modal-size-small;
    }
    @include screen(m) {
      max-width: $modal-size-small;
    }

    section.modal-body {
      padding:0;

      .lc-setting-house-position{
        padding:18px;
        border-bottom:1px solid $modal-header-border-color;

        p.lc-modal-body-title {
          margin-bottom:18px;
        }
        div.select-module-wrap {
          margin-bottom:18px;
        }
        span.lc-content-span{
          display: block;
          padding:10px 0;
        }

        button.theme-button{
          margin-top: 18px;
        }
      }

      .lc-setting-wind-direction{
        padding:18px 18px 32px;

        .lc-wind-direction-list{
          padding-top:18px;
          >ul{
            >li{
              display:flex;
              flex-basis: auto;
              align-items : center;
              justify-content: space-between;

              height:36px;
              padding: 10px;
              border: 1px solid #d5d5dd;
              border-radius : 4px;
              background-color:#fff;
              margin-bottom:12px;

              &:last-of-type {
                margin-bottom: 0;
              }

              //&.empty-list-item{
              //  border:none;
              //  background:none;
              //}

              .lc-wind-direction-name-wrap{

                font-size:14px;
                line-height:36px;
                text-overflow : ellipsis;

                span.lc-wind-direction-name-index{
                  margin-right: 8px;
                }
              }

              .icon-wrap {
                i{
                  width:3px;
                  height:3px;
                }
              }
            }
          }
        }
      }

      button.theme-button {
        display: block;
        width: 100%;
        height: 36px;
      }

    }
  }
}
