#lcModalIndividualControlWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalIndividualControl {
    overflow: visible;
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
    }
    
    &.lc-visible-modal {
        overflow: visible;
        
        section.modal-header {
        }
        
        section.modal-body {
            position: relative;
            overflow: visible;
            
            button.theme-button {
                margin-top: 30px;
                width: 100%;
                height: 36px;
            }
            
            .control-row-wrap {
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
                
                .lc-just-text {
                    text-align: center;
                    flex-basis: 42px;
                }
                
                input.control-value-input {
                    display: block;
                    width: 100%;
                    height: 34px;
                    background-color: #fff;
                    border: 1px solid #d5d5dd;
                    border-radius: 4px;
                    padding-left: 12px;
                    font-size: 14px;
                }
    
                .line-break {
                    width: 100%;
                }
                
                &:first-of-type {
                    .select-module-wrap {
                        flex: 1;
                    }
                }
                
                &:nth-of-type(2) {
                    flex-flow: row wrap;
                    .lc-control-input-wrap {
                        flex: 1;
                        @include after-clear();
                        .item-wrap {
                            float: left;
                            width: 50%;
                            &:first-of-type {
                                padding-right: 6px;
                            }
                            &:nth-of-type(2) {
                                padding-left: 6px;
                            }
                        }
                    }
                    
                    &.no-input-value {
                        .line-break, .lc-just-text {
                            display: none;
                        }
                        .lc-control-input-wrap {
                            .item-wrap {
                                &:first-of-type {
                                    float: none;
                                    width: auto;
                                }
                                &:last-of-type {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
    
            .lc-order-text {
                display: block;
                margin-top: 12px;
            }
        }
    }
}