#lcModalIntegratedGraphWrap {
    //z-index: 20; specify z-index when modal on modal
    .full-screen{
        padding:0;

        .vertical-align {
            display:block;
            height:100%;
            #lcModalIntegratedGraph{
                width:100%;
                height:100%;

                .lc-graph-modal{
                    height:96%;

                    div.lc-integrated-graph-bottom-wrap{
                        border : none;
                        height: 100%;

                        #chartWrapper {
                            height:95%;
                            #multiChartDiv{
                                height:100%;
                            }
                        }
                    }
                }

            }
        }
    }


}

#lcModalIntegratedGraph {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }

    .card-header-button {
        width: 135px;
        height: 36px;
        margin-top: 10px;
        font-size: 14px;
        font-weight:100;
    }

    .full-screen-button{
        margin-left: 12px;

        &.full-active{
            background-color : $theme-color;
            color:#fff;
        }
    }
    
    section.modal-body {
        padding: 0;
        div.lc-integrated-graph-top-wrap, div.lc-integrated-graph-bottom-wrap {
            padding: 18px;
        }
    
        div.lc-integrated-graph-bottom-wrap {
            border-top: 1px solid $light-periwinkle;
        }
        
        section.integrated-graph-item-wrap {
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        
        label.integrated-graph-modal-label {
            display: block;
        }

        .button-wrap{
            width:70%;
            text-align:right;
            padding-right: 45px;

            @include screen(m) {
                width: 100%;
            }


        }
        
        ul#integratedGraphSensorList {
            width:70%;

            @include screen(m) {
                width: 100%;
            }

            li{
                display: flex;
                padding-bottom: 8px;

                label.control-list-label{
                    width:45%;
                    padding: 12px 5px;
                }

                .select-module-wrap{
                    width: 45%;

                    &:nth-child(1){
                        margin-right:3px;
                    }

                    &:nth-child(2){
                        margin-left:3px;
                    }

                }

                button.theme-text-button{
                    width: 40px;
                    padding: 0 3px;
                }
            }
        }
        
        button.theme-button {
            margin-top: 18px;
            display: block;
            width: 100%;
            height: 36px;
        }
        
        .graph-wrap-header {
            padding-bottom: 8px;

            span.date-range-label{
                flex-basis:90px;
            }

            .time-wrap{
                display:flex;
                flex-basis:175px;

                .time-item{
                    width:50%;
                    margin-right:4px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }

            .time-span{
                margin: 0 4px;
            }
        }


        #chartWrapper {
            margin-top: 20px;
            position: relative;
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid $light-periwinkle;
            overflow: hidden;
            
            #multiChartDiv {
                width: 100%;
               height: 320px;
                padding-top: 20px;

            }
        }
        
        div.check-btn {
            cursor: pointer;
            height: 32px;
            line-height: 32px;
            padding: 0 24px;
            border: 1px solid $very-light-pink;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            span {
                color: $brown-grey;
            }
            
            &.lc-active {
                background-color: $theme-color;
                border-color: $theme-color;
                span {
                    color: #fff;
                }
            }
        }
        
        table#lcSensorValueTable {
            width: 100%;
            table-layout: fixed;
            border-collapse:separate;
            border-spacing: 0 10px;
            thead {
                tr {
                    th {
                        font-size: 14px;
                        font-weight: bold;
                        color: $brown-grey;
                        text-align: center;
                        &:first-of-type {
                            width: 40%;
                        }
                        
                    }
                }
            }
            tbody {
                tr {
                    height: 42px;
                    outline: 1px solid $light-periwinkle;
                    background-color: #fff;
                    margin-top: 4px;
                    td {
                        color: #000;
                        text-align: center;
                        vertical-align: middle;
                        
                        &:first-of-type {
                            padding-left: 12px;
                            margin-top: 0;
                            text-align: left;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}