#lcModalJournalWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalJournal {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        button.theme-button {
            display: block;
            width: 100%;
            height: 36px;
            margin-top: 20px;
        }
    }
}