.lc-graph-modal {
    section.options-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        
        .date-range-button {
            width: 66px;
            height: 28px;
            border: 1px solid $very-light-pink;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            color: $brown-grey;
            margin-right: 12px;
            
            &:last-of-type {
                margin-right: 0;
            }
            
            &.lc-active {
                background-color: $theme-color;
                border-color: $theme-color;
                color: #fff;
            }
        }
        
        .lc-download-button {
            cursor: pointer;
            position: relative;
            width: 66px;
            height: 28px;
            border-radius: 4px;
            background-color: $theme-color;
            background-image: url(/public/images/commons/download-icon@2x.png);
            -webkit-background-size: 24px;
            background-size: 24px;
            background-position: center;
            background-repeat: no-repeat;
            
            &:focus {
                outline: 0;
                > .three-dot-view-more-menu {
                    display: block;
                    top: 100%;
                    li {
                        padding-left: 16px;
                    }
                }
            }
        }
    }
    
    section.graph-wrap {
        .graph-wrap-header {
            display: flex;
            align-items: center;
            
            span.date-range-label {
                margin-right: 16px;
            }
            
            .date-picker-wrap {
                margin-right: 16px;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            .react-datepicker-wrapper {
                width: auto;
            }

            .lc-time-form-wrap{
                flex-basis:175px;
            }
            
            @include screen(pc, t) {
                .date-picker-wrap {
                    flex-basis: 175px;
                }
            }
            
            @include screen(m) {
                span.date-range-label {
                    flex-basis: 60px;
                }
                .date-picker-wrap {
                    flex: 1;
                }
                
                @media screen and (max-width: 420px) {
                    flex-flow: row wrap;
                    span.date-range-label {
                        flex-basis: auto;
                        width: 100%;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
}