
#lcModalLiterDetail {
    overflow: visible;
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        overflow: visible;
        padding: 0;
        
        .LiterDetail-register-wrap {
            padding: 10px 18px;
                            
            
            button.theme-button {
                width: 100%;
                height: 36px;
            }
        }
        .auto-control-form-section {
            padding: 18px 0px;
            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                border-bottom: 0
            }
        }
        .liter-Detail-form-section {
            padding: 18px;
            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                border-bottom: 0
            }
        }
        .title-name {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            width:100%;
            font-weight: bold;
            margin-bottom: 10px;
        }
        div.select-section{
            width:60%;
            .margin-div{
                margin-bottom: 10px;
            }
        }
        .toggle-date-picker-label {
            input {
                font-size: 14px;
                color: $brown-grey;
                width: 50%;
                height: 36px;
                line-height: 36px;
                border: 1px solid #ddd;
                border-radius: 4px;
                background-color: #fff;
                padding: 0 12px;
                
            }
            .inputtext{
                font-size: 14px;
                color: $brown-grey;
                width: 85%;
                height: 36px;
                line-height: 36px;
                border: 1px solid #ddd;
                border-radius: 4px;
                background-color: #fff;
                padding: 0 12px;
            }
        }
    }
   
    //////////////////////////////////////////////////////////////////////////////////////////////
    ul#screenOrderList {
        
        div.LiterDetail-screen-section{
            display:block;
            margin-top:8px;
            label.LiterDetail-screen-label {
                color: $brown-grey;
                font-size: 12px;
                font-weight: bold;
                
            }
        }
        li.screen-order-list-item {
            
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        div.screen-order-list-item-Detail {
            
            margin-bottom: 8px;
            text-align: center;
            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    
    .screen-setting-left-wrap {
        display: flex;
        align-items: center;
        li {
            width: 30%;
            height: 48px;
            background-color: $pale-grey;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 48px;
            cursor: pointer;
            border-right: 1px solid $light-periwinkle;
    
            &.tab_on {
              background-color: #ffffff;
            }
    
            &:nth-child(5) {
              border: none;
            }
          }
    }
    .screen-setting-left-wrap-Detail {
        display: inline;
        align-items: center;
        li {
            width: 25%;
            height: 48px;
            background-color: $pale-grey;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            line-height: 48px;
            cursor: pointer;
            border-right: 1px solid $light-periwinkle;
    
            &.tab_on {
              background-color: #ffffff;
            }
    
            &:nth-child(5) {
              border: none;
            }
          }
    }
    

    article.screen-setting-wrap {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $light-periwinkle;
        
    }

    .mix-control-container {
        padding: 0 18px;
        button.add-control-btn {
            
            width: 100%;
            height: 36px;
            font-size: 14px;
            margin-top: 10px;
        }

        @include screen(t, m) {
            margin: 18px 0;
        }
    }
    .mix-control-wrap {
        
        margin-bottom: 20px;
        border-radius: 4px;

        .not-allowed-to-create-wrap {
            height: 128px;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: red;
            }
        }

        .mix-control-item-wrap {
            position: relative;
            
            padding: 14px 0;
            &:last-of-type {
                border-bottom: 0;
            }
        }

        .mix-control-header {
            span.mix-control-title {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
            }
            button.card-header-button {
                position: absolute;
                top: 10px;
                vertical-align: middle;
                //width: 50px;
                padding: 0 8px;
                height: 24px;

                &:first-of-type {
                    right: 0;
                }
                &:nth-of-type(2) {
                    right: 78px;
                }
            }
        }

        .mix-control-condition-tab-wrap {
            display: flex;
            align-items: center;
            .auto-control-form-label {
                @include screen(pc, t) {
                    margin-right: 44px;
                }
                @include screen(m) {
                    margin-right: 12px;
                }
            }

            .lc-checkbox-wrap {
                display: flex;
                align-items: center;

                .lc-theme-checkbox-wrap {
                    @include screen(pc, t) {
                        margin-right: 26px;
                    }
                    @include screen(m) {
                        margin-right: 12px;
                    }
                }
            }
        }

        .mix-control-time-condition-wrap {
            .auto-control-form-label {
                display: block;
                margin-bottom: 10px;
            }
            @include after-clear();

            .select-module-wrap {
                display: block;
            }
        }

        .lc-mix-sensor-container {
            padding-right: 18px;
            width: 50%;

            .mix-sensor-radio-wrap {
                display: flex;

                padding: 12px 0;
                .lc-theme-radio-wrap {
                    flex: 1;
                }
            }

            div.lc-mix-sensors-wrap {
                padding-left: 0 !important;
                padding-right: 0 !important;
                padding-bottom: 20px !important;
                width: 100% !important;
                border-left: 0 !important;

                &:nth-of-type(n+2) {
                    border-top: 1px solid $light-periwinkle;
                    padding-top: 20px !important;
                    button.mix-text-btn {
                        top: 20px;
                    }
                }

                &:last-of-type {
                    padding-bottom: 0 !important;
                }
            }
        }

        .mix-control-sensor-wrap {
            display: flex;

            div.auto-control-condition-wrap {
                position: relative;

                button.mix-text-btn {
                    position: absolute;
                    top: 0;
                    right: 18px;
                    font-size: 14px;
                    color: $theme-color;
                    z-index: 0;
                }

                .form-flex-wrap {
                    margin-top: 16px;
                }
            }

            .auto-control-execution-wrap {
                padding-right: 0 !important;
            }

            div.auto-control-setting-form {
                float: none !important;
            }

            @include screen(t, m) {
                display: block;

                .lc-mix-sensor-container {
                    display: block;
                    width: 100% !important;
                }

                .auto-control-setting-form {
                    display: block;
                    width: 100% !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }
            }
        }

    }
    .lc-setting-form-wrap {
        margin-top: 16px;

        .form-flex-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }

            .left-item {
                flex-basis: auto;
                max-width: 248px;
                width: 100%;

                &.select-and-input-wrap {
                    @include after-clear();

                    &.p-band-select-wrap{

                        .p-band-select{
                            width: 60.4545%;
                            padding-right: 3px;
                        }
                    }

                    .select-and-input {
                        float: left;

                        &:first-of-type {
                            width: 60.4545%;
                            padding-right: 3px;
                        }

                        &.input-auto-control{
                            width: 39.5454%;
                            padding-left: 3px;
                        }
                    }


                }
            }

            .lc-modifier {
                flex-basis: auto;
                min-width: 50px;
                padding-left: 6px;
            }
        }

        @include screen(t, m) {
            .form-flex-wrap {
                .left-item {
                    max-width: none;
                }
            }
        }
        
    }
    div#autoControlSettingWrap {
        position: relative;
        padding: 14px 0;

        hr.hr {
            position: relative;
            display: block;
            margin-top: 0;
            margin-bottom: 14px;
            border: 0;
            width: 100%;
            height: 1px;
            background-color: $light-periwinkle;
        }

        @include screen(pc, t) {
            @include after-clear();
            div.auto-control-setting-form {
                padding: 0 18px;
                width: 50%;
                float: left;

                //&:nth-of-type(2) {
                //    border-left: 1px solid $light-periwinkle;
                //}
            }
            i.hr {
                position: absolute;
                top: 18px;
                left: 50%;
                width: 1px;
                height: calc(100% - 36px);
                background-color: $light-periwinkle;
            }
        }

        @include screen(m) {
            padding: 0;

            div.auto-control-setting-form {
                padding: 18px;
            }

            div.auto-control-condition-wrap {
                //border-bottom: 1px solid $light-periwinkle;
            }
            i.hr {
                display: none;
            }
            hr.hr {
                display: none;
            }
        }
    }

    div#autoControlButtonWrap {
        @include after-clear();
        .button-wrap {
            width: 50%;
            float: left;
            &:first-of-type {
                padding-right: 18px;
            }
            &:last-of-type {
                padding-left: 18px;
            }
            button {
                display: block;
                width: 100%;
                font-size: 14px;
                height: 36px;
            }
        }
    }

    div#LiterDetailButtonWrap {
        @include after-clear();
        .button-wrap {
            width: 100%;
            float: left;
            &:first-of-type {
                padding-right: 18px;
            }
            &:last-of-type {
                padding-left: 18px;
            }
            button {
                display: block;
                width: 100%;
                font-size: 14px;
                height: 36px;
            }
        }
    }
    table {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 4px;
        
        th, td {
            vertical-align: middle;
            border: 1px solid #C4C4C4;
            text-align: center;
          }
          tr{
              height:25px;
          }
    }
    .thead-tr{
        background: #58A943;
        font-size:18px;
    }
}
        
