
#lcModalLiterReset {
    overflow: visible;
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        overflow: visible;
        padding: 0;
        
        .LiterReset-register-wrap {
            padding: 10px 18px;   
        }

        .auto-control-form-section {
            padding: 18px;
            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                border-bottom: 0
            }
        }
        .title-name {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }
       
    }
   
    //////////////////////////////////////////////////////////////////////////////////////////////
    ul#screenOrderList {
        
        li.screen-order-list-item {
            
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        
    }    
    .screen-setting-left-wrap {
        display: flex;
        align-items: center;
        
    }        
    article.screen-setting-wrap {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $light-periwinkle;
        
    }

    .mix-control-container {
        padding: 0 18px;        
        @include screen(t, m) {
            margin: 18px 0;
        }
        .delete-button{
            margin-left: 10px;
            border-radius: 4px;                       
            color: #58A943;
            font-size: 14px;
        }
    }
    .mix-control-wrap {
        padding: 0 16px;
        margin-bottom: 20px;
        border: 1px solid $light-periwinkle;
        border-radius: 4px;


        .mix-control-item-wrap {
            position: relative;
            
            padding: 14px 0;
            &:last-of-type {
                border-bottom: 0;
            }
        }

        .mix-control-header {
            span.mix-control-title {
                display: inline-block;
                vertical-align: middle;
                font-size: 16px;
                font-weight: bold;
            }
            button.card-header-button {
                position: absolute;
                top: 10px;
                vertical-align: middle;
                //width: 50px;
                padding: 0 8px;
                height: 24px;

                &:first-of-type {
                    right: 0;
                }
                &:nth-of-type(2) {
                    right: 78px;
                }
            }
        }      

    }
    .lc-setting-form-wrap {
        margin-top: 16px;

        .form-flex-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }

            .left-item {
                flex-basis: auto;
                max-width: 248px;
                width: 100%;

                &.select-and-input-wrap {
                    @include after-clear();          
                }
            }       
        }

        @include screen(t, m) {
            .form-flex-wrap {
                .left-item {
                    max-width: none;
                }
            }
        }
        
    }
    div#autoControlSettingWrap {
        position: relative;
        padding: 14px 0;

        @include screen(pc, t) {
            @include after-clear();
            div.auto-control-setting-form {
                padding: 0 18px;
                width: 50%;
                float: left;

                //&:nth-of-type(2) {
                //    border-left: 1px solid $light-periwinkle;
                //}
            }
            i.hr {
                position: absolute;
                top: 18px;
                left: 50%;
                width: 1px;
                height: calc(100% - 36px);
                background-color: $light-periwinkle;
            }
        }

        @include screen(m) {
            padding: 0;

            div.auto-control-setting-form {
                padding: 18px;
            }

            div.auto-control-condition-wrap {
                //border-bottom: 1px solid $light-periwinkle;
            }
            i.hr {
                display: none;
            }
            hr.hr {
                display: none;
            }
        }
    }

    div#autoControlButtonWrap {
        @include after-clear();
        .button-add{
            width:100%;
            float: left;
            padding: 10px 0px;
            button {
                display: block;
                width: 100%;
                font-size: 14px;
                height: 36px;
                
            }
        }
        .button-wrap {
            width: 50%;
            float: left;
            &:first-of-type {
                padding-right: 18px;
            }
            &:last-of-type {
                padding-left: 18px;
            }
            button {
                display: block;
                width: 100%;
                font-size: 14px;
                height: 36px;
            }
        }
    }
}
