#lcModalMotorSettingWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalMotorSetting {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 18px 18px 32px;
    
        ul#motorSettingList {
            font-size: 0;
            li {
                display: block;
                font-size: 14px;
                margin-top: 12px;
                width: 100%;
                
                .motors-label-wrap {
                    display: flex;
                    align-items: center;
                    margin-bottom: 6px;
                    
                    label {
                        font-size: 14px;
                        &:nth-of-type(1) {
                            padding-right: 4px;
                            flex: 1;
                        }
                        &:nth-of-type(2), &:nth-of-type(3) {
                            padding-left: 4px;
                            flex-basis: auto;
                            width: 30%;
                        }
                    }
                }
                
                .motors-input-wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    div.input-wrap {
                        position: relative;
                        &:nth-of-type(1) {
                            padding-right: 4px;
                            flex: 1;
                        }
                        &:nth-of-type(2), &:nth-of-type(3) {
                            padding-left: 4px;
                            padding-right: 16px;
                            flex-basis: auto;
                            width: 30%;
                        }
                        &:nth-of-type(2) {
                            padding-right: 4px;
                        }
                        
                        span {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            -webkit-transform: translate(0, -50%);
                            -moz-transform: translate(0, -50%);
                            -ms-transform: translate(0, -50%);
                            -o-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                        }

                        .css-10nd86i {
                            .css-s3qdxf {
                                .css-1hwfws3 {
                                    .css-1492t68 {
                                        color:#000000;
                                    }
                                }
                            }
                        }
                    }
                    input, select {
                        width: 100%;
                    }

                }
            }
        }
    
        .theme-button {
            display: block;
            margin-top: 20px;
            width: 100%;
            height: 36px;
        }
    }
}