#lcModalNoticeDetailWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalNoticeDetail {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        
        div.lc-textarea-shape {
            font-size: 16px;
            display: block;
            width: 100%;
            resize: none;
            padding: 8px 12px;
    
            border: 1px solid $light-periwinkle;
            border-radius: 4px;
            background-color: #fff;
            line-height: 1.42;
            min-height: 240px;
        }
        
        p#noticeCreatedAt {
            text-align: right;
            margin-top: 16px;
            font-size: 14px;
            color: #888;
        }
    }

    ul.lc-notice-list {
        padding: 10px 20px;
        width: 100%;
        background: #fff;
        & > li {
            //margin-bottom: 8px;
            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                margin-bottom: 0;
            }

            &:nth-last-child(1) {
                border-bottom: none;
            }
        }
    }

    article.lc-content-card {
        padding: 8px 12px;
        border-radius: 0px;
        border: none;
    }
    
    div.content-position-wrap {
        position: relative;
        text-align: left;
    }
    
    .notice-content-wrap {
        padding-right: 182px;
        min-height: 48px;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        cursor: pointer;

        .flex-line-break {
            width: 100%;
        }
    
        .notice-text-count-wrap {
            max-width: 100%;
            position: relative;
            cursor: pointer;
            p.notice-text {
                padding-right: 24px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size:$main-page-font;
            }
        
            span.notice-count {
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
        }
        
        .notice-dialog-percentage-wrap {
            margin-top: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .switch-text {
                word-break: keep-all;
                margin-left: 8px;
            }
            
            .switch, .switch-text, .percentage-state {
                vertical-align: middle;
            }
        }

        &.lc-non-individual-mode {
            flex-flow: initial;
            justify-content: space-between;
            
            .flex-line-break {
                display: none;
            }
            
            .notice-text-count-wrap {
                flex-basis: auto;
                max-width: calc( 100% - 42px );
            }
            
            .notice-dialog-percentage-wrap {
                margin-top: 0;
                flex-basis: 42px;
                justify-content: flex-end;
                .lc-toggle-wrapper {
                    display: none;
                }
            }
        }

        .absolute-item-wrap {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 1;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
        
            div.toggle-radio-wrap {
                font-size: 14px;
                vertical-align: middle;
            }
        }
    }

    .notice-detail-mode{
        display: none;
    }

    .notice-list-mode{
        display: none;
    }

    .notice-back {
        margin-left: auto;
        margin-right: 10px;
        font-size: 14px;
        font-weight: 100;
        float: right;
        margin: 10px;
    }

    .card-header-button {
        width: 90px;
        height: 36px;
    }

    .lc-animal-search {
        height: 43px;
        background: #fff;
        border-bottom: 1px solid #d5d5dd;
        display: flex;
        width: 30vh;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1.5px solid #ddd;

        .search-box {
            height: 39px;
            font-size: 14px;
            width: 93%;
            padding-left: 20px;
            &::placeholder {
            color: #aaaaaa;
            text-align: center;
            }

            @include screen(m) {
            padding-left: 20px;
            }
        }
    }
    .searchBtn{
        float: right;
    }
    .searchBtn img{
        width: 30px;
        margin: 8px 12px 0px 12px;
    }
}