#lcModalPbandSensorSettingWrap{
  #lcPBandSensorSetting{
    @include screen(pc, t) {
      width: $modal-size-normal;
    }
    @include screen(m) {
      max-width: $modal-size-normal;
    }

    section.modal-body {
      padding: 0;
    }

    section.modal-body{
      .sensor-setting-button-wrap{
        padding: 18px 18px 32px;
        border-bottom:1px solid #d5d5dd;

          button.theme-button {
            display: block;
            width: 100%;
            height: 36px;
            margin-top: 18px;
        }
      }

      .sensor-setting-list-wrap{

        display:block;
        padding: 18px 18px 32px;

        ul.sensor-setting-list{

          >li{

            display:flex;
            flex-basis: auto;
            align-items : center;
            justify-content: space-between;

            height:56px;
            padding: 10px;
            border: 1px solid #d5d5dd;
            border-radius : 4px;
            background-color:#fff;
            margin-bottom:12px;

            &:last-of-type {
              margin-bottom: 0;
            }

            .lc-pband-name-wrap{

              font-size:15px;
              line-height:56px;
              text-overflow : ellipsis;

              span.lc-pband-name-index{
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}