#lcModalPBandSettingWrap {
  z-index: 22;

  #lcPBandSetting {

    @include screen(pc, t) {
      width: $modal-size-small;
    }
    @include screen(m) {
      max-width: $modal-size-small;
    }

    section.modal-body {
      ul {
        font-size: 0;
        li {
          display: block;
          font-size: 14px;
          margin-top: 12px;
          width: 100%;

          &.pband-wind-direction-wrap{
            display:flex;
          }

          .pband-label-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 6px;

            label {
              font-size: 14px;
              margin-bottom:4px;
              &:nth-of-type(odd) {
                padding-right: 4px;
                flex: 1;
              }
              &:nth-of-type(even) {
                padding-left: 4px;
                flex-basis: auto;
                width: 30%;
              }
            }
          }

          .pband-input-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div.input-wrap {
              position: relative;
              &:nth-of-type(odd) {
                padding-right: 4px;
                flex: 1;
              }
              &:nth-of-type(even) {
                padding-left: 4px;
                padding-right: 16px;
                flex-basis: auto;
                width: 30%;
              }

              &.wind-direction-input-wrap{
                width:50%;

                &:nth-of-type(even) {
                  padding-left: 4px;
                  padding-right:4px;
                }

              }

              span {
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
              }

            }
            input {
              width: 100%;
            }
          }

          .pband-checkbox-label{
            padding-left:4px;
          }
        }
      }

      .pband-item-label{
        padding-top:8px;
        line-height:17px;
      }

      button.theme-button {
        display: block;
        width: 100%;
        height: 36px;
        margin-top: 18px;
      }

    }
  }
}
