#lcModalPanelSoundModalWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcPanelSound {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        .use-panel-sound-wrap{
            display: flex;
            padding-bottom: 12px;
            margin-bottom:12px;
            border-bottom: 1px solid #d5d5dd;
            align-items: center;
            justify-content: space-between;

        }
        .panel-sound-wrap{
            .button-wrap{
                button.theme-button{
                    width:100%;
                    height: 36px;
                }
            }

            .panel-sound-setting-list{
                padding-top:18px;
                >ul{
                    >li{
                        display:flex;
                        flex-basis: auto;
                        align-items : center;
                        justify-content: space-between;

                        height:36px;
                        padding: 10px;
                        border: 1px solid #d5d5dd;
                        border-radius : 4px;
                        background-color:#fff;
                        margin-bottom:12px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        //&.empty-list-item{
                        //  border:none;
                        //  background:none;
                        //}

                        .lc-wind-direction-name-wrap{

                            font-size:14px;
                            line-height:36px;
                            text-overflow : ellipsis;

                            span.lc-wind-direction-name-index{
                                margin-right: 8px;
                            }
                        }

                        .icon-wrap {
                            i{
                                width:3px;
                                height:3px;
                            }
                        }
                    }
                }
            }
        }
    }
}