#lcModalPanelSoundSettingModalWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcPanelSoundSetting {
    @include screen(pc, t) {
        width: $modal-size-big;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {

        p.lc-group-setting-name {
            padding-bottom: 12px;
        }

        .lc-group-setting {
            padding-bottom: 18px;

            @include screen(pc, t) {
                display: flex;
            }

            .lc-group-setting-menu {
                width: 50%;

                @include screen(m) {
                    width: 100%;
                    margin-bottom:12px;
                }

                &:last-of-type {
                    margin-left: 12px;

                    @include screen(m) {
                        margin: 0;
                    }
                }

            }
        }

        .lc-group-setting-detail{
            padding-bottom:18px;
        }


        .button-wrap{
            button.theme-button{
                width:100%;
                height:36px;
            }
        }

    }
}