
#lcModalpesticidemake {
    overflow: visible;
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        overflow: visible;
        padding: 0;
        
        .pesticidemake-register-wrap {
            padding: 10px 18px;
            border-bottom: 1px solid $light-periwinkle;
            label.pesticidemake-form-label {
                color: $brown-grey;
                font-size: 12px;
                font-weight: bold;
                
            }
            .lc-setting-form-wrap {
                margin-top: 16px;
        
                .form-flex-wrap {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;
                   
        
                    .left-item {
                        flex-basis: auto;
                        width: 75%;
        
                        &.select-and-input-wrap {
                            @include after-clear();
        
                            .select-and-input {
                                float: left;
                                &:first-of-type {
                                    width: 60.4545%;
                                    padding-right: 3px;
                                }
                                &:last-of-type {
                                    width: 39.5454%;
                                    padding-left: 3px;
                                }
                            }
                        }
                    }
        
                    .lc-modifier {
                        flex-basis: auto;
                        min-width: 50px;
                        padding-left: 6px;
                    }
                }
        
                p.execution-ment {
                    margin-top: 20px;
                }
        
                @include screen(t, m) {
                    .form-flex-wrap {
                        .left-item {
                            max-width: none;
                        }
                    }
                }
            }
           
            
            button.theme-button {
                width: 100%;
                height: 36px;
            }
        }


        
        
        
        label.pesticidemake-form-label {
            color: $brown-grey;
            font-size: 12px;
            font-weight: bold;
            
        }
        .pesticidemake-form-section {

            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                border-bottom: 0
            }
        }
        ul#pesticidemakeDetailList {
            padding-right: 10px;
            li.pesticidemake-detail-list-item {
                display: block;
                width: 100%;
                border: 1px solid $light-periwinkle;
                border-radius: 4px;
                margin-bottom: 8px;
                overflow: hidden;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }


          

            .lc-theme-checkbox-wrap {
                .text-label {
                    padding-left: 12px;
                }
            }
        }

        div#pesticidemakeNameWrap {
            label.pesticidemake-form-label {
                display: block;
                margin-top: 12px;
                margin-bottom: 8px;

                &:first-of-type {
                    margin-top: 0;
                }
            }
            input {
                display: block;
            }
            .step-delay-flex-wrap {
                position: relative;
                padding-right: 32px;

                input {
                    display: block;
                    width: 100%;
                }
                span {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    padding-right: 8px;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }
            }
        }
    }
   

    .delay-recount-wrap {
        margin-top: 16px;

    }
    //////////////////////////////////////////////////////////////////////////////////////////////
    ul#screenOrderList {
        
        div.pesticidemake-screen-section{
            display:block;
            margin-top:8px;
            label.pesticidemake-screen-label {
                color: $brown-grey;
                font-size: 12px;
                font-weight: bold;
                
            }
        }
        li.screen-order-list-item {
            
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .screen-setting-child-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 36px;
        height: 48px;
        font-size: 16px;
    }
    
    .screen-setting-left-wrap {
        display: flex;
        align-items: center;
    }
    
    .screen-setting-right-wrap {
        display: flex;
        align-items: center;
    }

    button.order-btn {
        padding: 6px;
        width: 24px;
        height: 24px;
        background-image: url(/public/images/commons/order-down@2x.png);
        background-position: center;
        -webkit-background-size: 24px;
        background-size: 24px;
        background-repeat: no-repeat;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    
        &.order-up {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        &:first-of-type {
            margin-right: 8px;
        }
        
        &:nth-of-type(2) {
            margin-right: 8px;
        }
    
        @include screen(pc) {
            &:hover {
                background-image: url(/public/images/commons/order-down-active@2x.png);
            }
        }
        @include screen(t, m) {
            &:active {
                background-image: url(/public/images/commons/order-down-active@2x.png);
            }
        }
    }
    article.screen-setting-wrap {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        &.lc-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        
      
        
        button.open-menu-btn {
            width: 24px;
            height: 24px;
            padding: 4px;
            box-sizing: content-box;
            background-image: url(/public/images/commons/under-arrow-big@2x.png);
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: center;
            
            &.lc-open {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }
    div#pesticidemakeButtonWrap {
        @include after-clear();

        padding:18px;
        .button-wrap {
            width: 50%;
            float: left;
            &:first-of-type {
                padding-right: 18px;
            }
            &:last-of-type {
                padding-left: 18px;
            }
            button {
                display: block;
                width: 100%;
                height: 36px;
            }
        }
    }
    .pesticidemake-form-section {
        padding: 18px;
        border-bottom: 1px solid $light-periwinkle;
        &:last-of-type {
            border-bottom: 0
        }
    }
}
