#lcModalPowerSettingWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalPowerSetting {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 18px 18px 32px;
    
        ul#powerSettingList {
            font-size: 0;
            li {
                display: inline-block;
                font-size: 14px;
                margin-top: 12px;
                width: 100%;
            }
        }
    
        .theme-button {
            display: block;
            margin-top: 20px;
            width: 100%;
            height: 36px;
        }
    }
}