#lcModalScreenSettingWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalScreenSetting {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 18px 18px 32px;
        
        ul#screenOrderList {
            li.screen-order-list-item {
                margin-bottom: 8px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        
        ul.child-content-list {
            li {
                border-left: 1px solid $light-periwinkle;
                border-right: 1px solid $light-periwinkle;
            }
            &:after {
                content: '';
                display: block;
                height: 12px;
                background-color: #fff;
                border: 1px solid $light-periwinkle;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
        
        .screen-setting-child-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 36px;
            height: 48px;
            font-size: 16px;
        }
        
        .screen-setting-left-wrap {
            display: flex;
            align-items: center;
        }
        
        .screen-setting-right-wrap {
            display: flex;
            align-items: center;
        }
    
        button.order-btn {
            padding: 6px;
            width: 24px;
            height: 24px;
            background-image: url(/public/images/commons/order-down@2x.png);
            background-position: center;
            -webkit-background-size: 24px;
            background-size: 24px;
            background-repeat: no-repeat;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        
            &.order-up {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
            &:first-of-type {
                margin-right: 8px;
            }
            
            &:nth-of-type(2) {
                margin-right: 8px;
            }
        
            @include screen(pc) {
                &:hover {
                    background-image: url(/public/images/commons/order-down-active@2x.png);
                }
            }
            @include screen(t, m) {
                &:active {
                    background-image: url(/public/images/commons/order-down-active@2x.png);
                }
            }
        }
        
        .lc-screen-menu-child-wrap {
            ul.child-content-list {
                li.child-content-list-item {
                
                }
            }
        }
        
        article.screen-setting-wrap {
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: 1px solid $light-periwinkle;
            background-color: #fff;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            &.lc-open {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
            
            div.lc-theme-checkbox-wrap {
                margin-left: 12px;
            }
            
            button.open-menu-btn {
                width: 24px;
                height: 24px;
                padding: 4px;
                box-sizing: content-box;
                background-image: url(/public/images/commons/under-arrow-big@2x.png);
                background-size: 24px;
                background-repeat: no-repeat;
                background-position: center;
                
                &.lc-open {
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }
        
        button.theme-button {
            display: block;
            width: 100%;
            height: 36px;
            margin-top: 20px;
        }
    }
}