#lcModalSensorMainChartWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalSensorMainChart {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 18px;
        
        button.theme-button {
            display: block;
            width: 100%;
            height: 36px;
            margin-top: 16px;
        }
    }
}