#lcModalSensorAlarmDetailWrap {
    z-index: 25;
}

#lcModalSensorAlarmDetail {
    @include screen(pc, t) {
        width: 300px;
    }
    @include screen(m) {
        width: 300px;
    }
    
    section.modal-body {
        ul#alarmDetailList {
            li.alarm-detail-list-item {
                display: block;
                width: 100%;
                border: 1px solid $light-periwinkle;
                border-radius: 4px;
                margin-bottom: 8px;
                overflow: hidden;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            
            .sound-test-wrap {
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 36px;
                border-top: 1px solid $light-periwinkle;
                padding: 0 12px;
                
                i {
                    width: 24px;
                    height: 24px;
                    background-image: url(/public/images/commons/sound-green@2x.png);
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-right: 6px;
                }
                
            }
            
            article.check-wrap {
                height: 36px;
                align-items: center;
                display: flex;
                padding: 0 12px;
                background-color: #fff;
            }
            
            .lc-theme-checkbox-wrap {
                .text-label {
                    padding-left: 12px;
                }
            }
        }
        
        button.theme-button {
            display: block;
            width: 100%;
            height: 36px;
            margin-top: 16px;
        }
    }
}