#lcModalSensorGraphWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalSensorGraph {
    overflow: visible;
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }

    .card-header-button {
        width: 135px;
        height: 36px;
        margin-top:20px;
        font-size:14px;
        font-weight:100;
    }
    
    section.modal-body {
        overflow: visible;
        padding-top: 0;
    }
    section.graph-wrap {
        .graph-item-wrap {
            position: relative;
            margin-top: 20px;
            height: 360px;
            background-color: #fff;
            border: 1px solid $light-periwinkle;
            border-radius: 4px;
            overflow: hidden;
        }
        
        .no-chart-data-wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: 16px;
            }
        }
    }
}