#lcModalSensorGroupWrap {
    //z-index: 20; specify z-index when modal on modal
}
#lcModalSensorGroup {
    overflow: visible;
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        overflow: visible;
        padding: 0;
        
        .sensorgroup-section-wrap {
            position: relative;
            z-index: 10;            
            padding: 10px;

            .button-wrap {

                @include screen(pc, t) {
                    text-align: right;
                }
                @include screen(m) {
                    display: flex;
                    justify-content: space-between;
                    button.theme-text-button {
                        &:first-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
            button.theme-text-button {
                padding: 4px;

                &:first-of-type {
                    margin-right: 20px;
                }
            }

            .select-module-wrap {
                position: relative;
                margin-top: 10px;
                z-index: 15;
                @include screen(pc, t) {
                    max-width: 50%;
                }
            }
        }

        .sensorGroup-register-wrap {
            padding: 15px 18px;
            border-bottom: 1px solid $light-periwinkle;
            
            .sensorGroup-wrap {
                margin-bottom: 12px;
                font-size: 0;
                
                
                li.sensorGroup-item {
                    @include after-clear();
                    display: inline-block;
                    margin-bottom: 8px;
                    font-size: initial;
                    vertical-align: middle;
                    
                    p {
                        vertical-align: middle;
                    }
                    
                    @include screen(pc, t) {
                        width: 50%;
                        &:nth-of-type(odd) {
                            padding-right: 10px;
                        }
                        &:nth-of-type(even) {
                            padding-left: 10px;
                        }
                    }
                    @include screen(m) {
                        &:nth-of-type(1), &:nth-of-type(2) {
                            width: 100%;
                        }
                        &:nth-of-type(3), &:nth-of-type(4) {
                            width: 50%;
                            &:nth-of-type(odd) {
                                padding-right: 10px;
                            }
                            &:nth-of-type(even) {
                                padding-left: 10px;
                            }
                        }
                    }
                    
                    .sensor-value-input {
                        float: left;
                        width: 80%;
                        height: 36px;
                        background-color: #fff;
                        border: 1px solid $light-periwinkle;
                        border-radius: 4px;
                        padding-left: 12px;
                        font-size: 14px;
    
                        &::placeholder {
                            color: $brown-grey;
                        }
                    }
                    span.lc-unit {
                        float: left;
                        line-height: 36px;
                        padding-left: 8px;
                        width: 18%;
                    }
                }
            }
            
            button.theme-button {
                width: 100%;
                height: 36px;
            }
        }
        
        .sensorGroup-list-wrap {
            padding: 20px 18px 32px;
            
            ul#sensorGroupList {
                border: 1px solid $light-periwinkle;
                border-radius: 4px;
                background-color: #fff;
                
                li {
                    border-bottom: 1px solid $light-periwinkle;
                    
                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
                button.theme-button {
                    width: 100%;
                    height: 36px;
                }
            }
            
            .sensorGroup-list-item-wrap {
                position: relative;
                padding-left: 12px;
                display: flex;
                justify-content: space-between;
                
                @include screen(m) {
                    padding: 12px 0 12px 12px;
                }
                
                p.sensorGroup-text {
                    line-height: 45px;
                    
                    @include screen(m) {
                        line-height: 1;
                        span {
                            margin-top: 12px;
                            display: block;
                        }
                    }
                }
                
                .three-dot-menu {
                    position: relative;
                    width: 40px;
                    height: 45px;
                    
                    i {
                        margin: 0 auto 4px;
                    }
                }
            }
        }
        label.sensorGroup-form-label {
            color: $brown-grey;
            font-size: 12px;
            font-weight: bold;
        }
        .sensorGroup-section {

            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                border-bottom: 0
            }
        }
        ul#sensorGroupDetailList {
            padding-right: 10px;
            li.sensorGroup-detail-list-item {
                display: block;
                width: 100%;
                border: 1px solid $light-periwinkle;
                border-radius: 4px;
                margin-bottom: 8px;
                overflow: hidden;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .sound-test-wrap {
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 36px;
                border-top: 1px solid $light-periwinkle;
                padding: 0 12px;

                i {
                    width: 24px;
                    height: 24px;
                    background-image: url(/public/images/commons/sound-green@2x.png);
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-right: 6px;
                }

            }

            article.check-wrap {
                height: 36px;
                align-items: center;
                display: flex;
                padding: 0 12px;
                background-color: #fff;
            }

            .lc-theme-checkbox-wrap {
                .text-label {
                    padding-left: 12px;
                }
            }
        }

        ul#sensorGroupDetailList2{

            li.sensorGroup-detail-list-item {
                display: block;
                width: 100%;
                border: 1px solid $light-periwinkle;
                border-radius: 4px;
                margin-bottom: 8px;
                overflow: hidden;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            .sound-test-wrap {
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 36px;
                border-top: 1px solid $light-periwinkle;
                padding: 0 12px;

                i {
                    width: 24px;
                    height: 24px;
                    background-image: url(/public/images/commons/sound-green@2x.png);
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-right: 6px;
                }

            }

            article.check-wrap {
                height: 36px;
                align-items: center;
                display: flex;
                padding: 0 12px;
                background-color: #fff;
            }

            .lc-theme-checkbox-wrap {
                .text-label {
                    padding-left: 12px;
                }
            }
        }

        .list-section-wrap {
            position: relative;
            z-index: 2;
            padding: 16px;
        }
     

        ul#sensorGroup_List {
            li.sensorGroup-list-item {
                position: relative;
                margin-bottom: 8px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .lc-content-card {
            position: relative;
            height: 56px;
            display: block;
            padding: 0 8px;
        }

        .lc-sensorGroup-name-wrap {
            overflow: hidden;
            width: 100%;
            height: 100%;

            p.lc-sensorGroup-name-wrap {
                font-size: 15px;
                padding-right: 186px;
                line-height: 56px;
                text-overflow: ellipsis;
            }
            p.lc-sensorGroup-name-wrap2 {
                font-size: 15px;
                text-align: center;
                line-height: 56px;
                text-overflow: ellipsis;
            }
            span {
                &.lc-control-name-index {
                    margin-right: 8px;
                }
            }
        }

        .lc-sensorGroup-wrap {
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            display: flex;
            align-items: center;
            flex-basis: auto;
            max-width: 190px;

            .ordinary-menu-wrap {
                display: flex;
                align-items: center;
                margin-right: 8px;
            }
        }
        .sensorGroup-child-wrap {
            padding: 0 4px;

            p.no-sensorGroup-child-p {
                padding: 12px;
                border-left: 1px solid $light-periwinkle;
                border-right: 1px solid $light-periwinkle;
                border-bottom: 1px solid $light-periwinkle;
            }

            ul.sensorGroup-child-list {
                background-color: $pale-grey;
                padding: 0 12px;
                border-left: 1px solid $light-periwinkle;
                border-right: 1px solid $light-periwinkle;
                border-bottom: 1px solid $light-periwinkle;
                li.sensorGroup-child-list-item {
                    padding: 16px 0;
                    border-bottom: 1px solid $light-periwinkle;
                    &:last-of-type {
                        border: 0;
                    }
                }
            }

            .sensorGroup-child-content-wrap {
                display: flex;
                span.sensorGroup-child-index {
                    margin-right: 12px;
                    font-size: 14px;
                }
                p.sensorGroup-child-text {
                    font-size: 14px;
                    word-break: keep-all;
                }

                div.partial-sensorGroup-wrap {
                    line-height: 1.42;
                }
            }
        }
        div#sensorGroupWrap {
            label.sensorGroup-form-label {
                display: block;
                margin-top: 12px;
                margin-bottom: 8px;

                &:first-of-type {
                    margin-top: 0;
                }
            }
            input {
                display: block;
            }
            .step-delay-flex-wrap {
                position: relative;
                padding-right: 32px;

                input {
                    display: block;
                    width: 100%;
                }
                span {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    padding-right: 8px;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }
            }
        }
    }
    div#sensorGroupSettingWrap {
        padding: 10px 0;

        @include screen(pc, t) {
            @include after-clear();
            div.sensorGroup-setting-form {

                width: 65%;
                float: left;

                &:nth-of-type(2) {
                    border-left: 1px solid $light-periwinkle;
                }
            }

            div.sensorGroup-setting-form2 {
                padding-left: 16px;
                width: 50%;
                float: left;

                &:nth-of-type(2) {
                    border-left: 1px solid $light-periwinkle;
                }
            }
        }

        @include screen(m) {
            padding: 0;

            div.sensorGroup-setting-form {
                padding:18px;
            }
        }
    }

    .lc-setting-form-wrap {
        margin-top: 16px;

        .form-flex-wrap {
            display: flex;
            align-items: center;
            padding-right:10px;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }

            .left-item {
                flex-basis: auto;
                max-width: '50%';
                width: 100%;

                &.select-and-input-wrap {
                    @include after-clear();

                    .select-and-input {
                        float: left;
                        &:first-of-type {
                            width: 60.4545%;
                            padding-right: 3px;
                        }
                        &:last-of-type {
                            width: 39.5454%;
                            padding-left: 3px;
                        }
                    }
                }
            }

            .left-item2 {
                flex-basis: auto;
                max-width: '50%';
                width: 30%;

                &.select-and-input-wrap {
                    @include after-clear();

                    .select-and-input {
                        float: left;
                        &:first-of-type {
                            width: 60.4545%;
                            padding-right: 3px;
                        }
                        &:last-of-type {
                            width: 39.5454%;
                            padding-left: 3px;
                        }
                    }
                }
            }

            .lc-modifier {
                flex-basis: auto;
                min-width: 50px;
                padding-left: 6px;
            }
        }

        p.execution-ment {
            margin-top: 20px;
        }

        @include screen(t, m) {
            .form-flex-wrap {
                .left-item {
                    max-width: none;
                }
            }
        }
    }
    .delay-recount-wrap {
        margin-top: 16px;
        .delay-recount-opener-wrap {
            position: relative;
            height: 24px;
            cursor: pointer;

            label.modal-section-label {
                cursor: pointer;
            }

            i.opener-btn {
                position: absolute;
                width: 24px;
                height: 24px;
                right: 0;
                top: 0;
                background-image: url(/public/images/commons/under-arrow-big@2x.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            &.lc-open {
                i.opener-btn {
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }
        }

        .delay-recount-input-container {
            margin-top: 16px;

            .delay-recount-input-wrap {
                .select-module-wrap {
                    display: block;
                    width: 100%;
                }
                @include screen(pc) {
                    &:first-of-type {
                        padding-right: 4px;
                    }
                    &:nth-of-type(2) {
                        padding-left: 4px;
                    }
                }
            }

            @include screen(pc, t) {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .delay-recount-input-wrap {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    input {
                        flex-basis: 84px;
                    }
                    span {
                        text-align: left;
                        padding-left: 8px;
                        flex: 1;
                    }
                }
            }
            @include screen(m) {
                .delay-recount-input-wrap {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    margin-bottom: 8px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    input {
                        flex-basis: auto;
                        width: 75%;
                    }
                    span {
                        text-align: center;
                        flex: 1;
                    }
                }
            }
        }
    }
}