#lcModalSensorGatherWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalSensorGather {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 18px;
        
        section.sensors-gather-wrap {
            padding: 12px 0;
            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
        
        .no-sensor-p {
            text-align: center;
            margin-top: 12px;
        }
        
        h4 {
            font-size: 16px;
            margin-bottom: 8px;
            font-weight: bold;
        }
        
        ul.sensorGatherList {
            display: block;
            width: 100%;
            font-size: 0;
            
            li.sensor-gather-list-item {
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                width: 50%;
                padding-top: 8px;
                padding-bottom: 8px;
                &:nth-of-type(odd) {
                    padding-right: 8px;
                }
                &:nth-of-type(even) {
                    padding-left: 8px;
                }
            }
        }
        
        article.sensor-info-wrap {
            display: flex;
            border: 1px solid $light-periwinkle;
            border-radius: 4px;
            overflow: hidden;
            align-items: center;
            
            div.sensor-info {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 14px;
                
                &.sensor-name-wrap {
                    flex-basis: 70%;
                    line-height: 1.32;
                    background-color: #fff;
                    border-right: 1px solid $light-periwinkle;
                }
                
                &.sensor-value-wrap {
                    flex-basis: 30%;
                    background-color: $pale-grey;
                    
                    span.lc-warning {
                        color: $coral;
                    }
                }
                
                @media screen and (max-width: 420px) {
                    padding: 14px 6px;
                    &.sensor-name-wrap {
                        flex-basis: 50%;
                    }
    
                    &.sensor-value-wrap {
                        flex-basis: 50%;
                    }
                }
            }
        }
    }
}