#lcModalSensorSettingWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalSensorSetting {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 18px;
        
        button.theme-button {
            width: 100%;
            height: 36px;
        }
        
        section.sensor-content-wrap {
            margin-bottom: 20px;
            h4.sensor-title {
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 12px;
                border-bottom: 1px solid $light-periwinkle;
            }
        }
        
        table.sensor-table {
            width: 100%;
            table-layout: fixed;
            margin-top: 24px;
            border-collapse: separate;
            border-spacing: 0 8px;
            
            thead {
                tr {
                    th {
                        font-size: 16px;
                        font-weight: bold;
                        
                        @include screen(m) {
                            &:nth-of-type(1) {
                                width: 65%;
                            }
                            &:nth-of-type(4) {
                                width: 35%;
                            }
                            &:nth-of-type(2), &:nth-of-type(3) {
                                display: none;
                            }
                        }
                    }
                }
            }
            
            tbody {
                tr {
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                    
                    input {
                        width: 100%;
                    }
                    td {
                        @include screen(m) {
                            &:nth-of-type(1) {
                                width: 65%;
                                padding-right: 4px;
                            }
                            &:nth-of-type(4) {
                                width: 35%;
                                padding-left: 4px;
                            }
                            &:nth-of-type(2), &:nth-of-type(3) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}