#lcModalSensorTemperatureWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalSensorTemperature {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 0 18px 24px;
        
        .sensor-value-wrap {
            padding: 20px 0;
            border-bottom: 1px solid $light-periwinkle;
        }
        
        article.lc-content-card {
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        
        span.sensor-name {
            
            font-size: 14px;
        }
        
        span.sensor-value {
            font-weight: bold;
            color: $theme-color;
            font-size: 14px;
        }
        
        span.not-allowed-text {
            font-size: 12px;
        }
        
        button.theme-button {
            display: block;
            width: 100%;
            height: 36px;
            margin-top: 18px;
        }
    }
}