#lcModalSubSignUpWrap {
  #lcModalSubSignUp {
    @include screen(pc, t) {
      width: $modal-size-small;
    }
    @include screen(m) {
      max-width: $modal-size-small;
    }

    section.modal-body {

      .lc-sub-signup-label {
        display: block;
        color: $brown-grey;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      div.sub-sign-up-wrap {
        margin-bottom:12px;

        &:last-of-type {
          margin:0;
        }


      }

      button.theme-button {
        display: block;
        width: 100%;
        height: 36px;
        margin-top: 18px;
      }
    }
  }
}