#lcModalSunDateDefaultSettingWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalSunDateDefaultSetting {
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }

    section.modal-body {
        padding: 18px;
        font-size: 0;

        div.setting-wrap {
            display: inline-block;
            font-size: 14px;
            width: 50%;

            &:nth-of-type(n+3) {
                margin-top: 8px;
            }

            &:nth-of-type(odd) {
                padding-right: 4px;
            }
            &:nth-of-type(even) {
                padding-left: 4px;
            }

            span.setting-title {
                display: block;
                font-size: 12px;
                font-weight: bold;
                color: #888;
                margin-bottom: 8px;
            }
        }

        p {
            font-size: 14px;
            &:first-of-type {
                margin-top: 28px;
            }
            &:nth-of-type(2) {
                margin-top: 8px;
            }
        }

        button.theme-button {
            margin-top: 32px;
            width: 100%;
            display: block;
            height: 36px;
            font-size: 14px;
        }
    }
}
