#lcModalUserWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalUser {
    overflow: visible;
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        overflow: visible;
        padding: 0;
        
        .User-register-wrap {
            padding: 20px 18px;
            border-bottom: 1px solid $light-periwinkle;
          
            
            button.theme-button {
                width: 100%;
                height: 36px;
            }
        }
        
        
        .User-form-section {

            border-bottom: 1px solid $light-periwinkle;
            &:last-of-type {
                border-bottom: 0
            }
            input.searchInput{
                height: 36px;
                width: 40%;
                background-color: #fff;
                border: 1px solid $light-periwinkle;
                padding: 0 12px;
                font-size: 14px;
                border-radius: 4px;

                &:disabled {
                    background-color: rgba($light-periwinkle, 0.45);
                    cursor: not-allowed;
                }
                &:read-only {
                    background-color: rgba($light-periwinkle, 0.45);
                    cursor: not-allowed;
                }
            }
            .searchbutton{
                background-color:#58A943;
                border-radius:4px;
                border:1px solid #58a943;
                color:#fff;
                font-size:14px;
                width: 10%;
                height: 36px;
            }
            .addbutton{
                background-color:#58A943;
                border-radius:20px;
                border:1px solid #58a943;
                float: right;
                color:#fff;
                font-size:14px;
                width: 30%;
                height: 36px;
            }
        }        
        div#UserNameWrap {
            label.User-form-label {
                display: block;
                margin-top: 12px;
                margin-bottom: 8px;

                &:first-of-type {
                    margin-top: 0;
                }
            }
            .step-delay-flex-wrap {
                position: relative;
                padding-right: 32px;

                input {
                    display: block;
                    width: 100%;
                }
                span {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    padding-right: 8px;
                    -webkit-transform: translate(0, -50%);
                    -moz-transform: translate(0, -50%);
                    -ms-transform: translate(0, -50%);
                    -o-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                }
            }
        }
    }
    div#UserSettingWrap {
        padding: 18px 0;

        @include screen(pc, t) {
            @include after-clear();
            div.User-setting-form {

                width: 100%;
                float: left;

                &:nth-of-type(2) {
                    border-left: 1px solid $light-periwinkle;
                }
            }


            table {
                width: 100%;
                text-align: center;
                table-layout: fixed;
                background-color: #fff;

                thead {
                    tr {
                        border-bottom: 1px solid $light-periwinkle;
                      

                        th {
                            font-size: 14px;
                            height: 48px;
                            line-height: 48px;
                        }
                    }
                }

                tbody {

                    &::before {
                        content: '';
                        display: block;
                        height: 10px;

                    }

                    &::after {
                        content: '';
                        display: block;
                        height: 10px;

                    }

                    tr {
                        background-color: #fff;
                        cursor:pointer;

                        td {
                            color: $brown-grey;
                            height: 48px;
                            vertical-align: middle;
                            text-align: center;
                            font-size:14px;
                            word-break:break-all;
                            .list-image {
                                width: 40px;
                                height: 40px;
                                border-radius: 4px;
                                vertical-align: middle;
                            }
                            button{
                                background-color:#58A943;
                                border-radius:20px;
                                border:1px solid #58a943;
                                
                                color:#fff;
                                font-size:14px;
                                width: 30%;
                                height: 36px;
                            }
                        }
                    }
                }
            }
      
        }

        @include screen(m) {
            padding: 0;

            div.User-setting-form {
                padding:18px;
            }

            div.User-condition-wrap {
                //border-bottom: 1px solid $light-periwinkle;
            }
            table {
                width: 100%;
                text-align: center;
                table-layout: fixed;
                background-color: #fff;

                thead {
                    tr {
                        border-bottom: 1px solid $light-periwinkle;
                      

                        th {
                            font-size: 14px;
                            height: 48px;
                            line-height: 48px;
                        }
                    }
                }

                tbody {

                    &::before {
                        content: '';
                        display: block;
                        height: 10px;

                    }

                    &::after {
                        content: '';
                        display: block;
                        height: 10px;

                    }

                    tr {
                        background-color: #fff;
                        cursor:pointer;

                        td {
                            color: $brown-grey;
                            height: 48px;
                            vertical-align: middle;
                            text-align: center;
                            font-size:14px;
                            word-break:break-all;
                            .list-image {
                                width: 40px;
                                height: 40px;
                                border-radius: 4px;
                                vertical-align: middle;
                            }
                            button{
                                background-color:#58A943;
                                border-radius:20px;
                                border:1px solid #58a943;
                                
                                color:#fff;
                                font-size:14px;
                                width: 30%;
                                height: 36px;
                            }
                        }
                    }
                }
            }
        }
    }

    .lc-setting-form-wrap {
        margin-top: 16px;

        .form-flex-wrap {
            display: flex;
            align-items: center;
            padding-right:10px;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }


        }      
    }
    .delay-recount-wrap {
        margin-top: 16px;             
    }
}
