#lcModalUserAddWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalUserAdd {
    overflow: visible;
    @include screen(pc, t) {
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        overflow: visible;
        padding: 0;
        
        .User-register-wrap {
            padding: 20px 18px;
            border-bottom: 1px solid $light-periwinkle;
            
            .User-control-wrap {
                margin-bottom: 12px;
                font-size: 0;
                
                
                li.User-control-item {
                    @include after-clear();
                    display: inline-block;
                    margin-bottom: 8px;
                    font-size: initial;
                    vertical-align: middle;
                    label.User-form-label {
                        display: block;
                        margin-top: 12px;
                        margin-bottom: 8px;
                    }
                    p {
                        vertical-align: middle;
                    }
                    
                    @include screen(pc, t) {
                        width: 50%;
                        &:nth-of-type(odd) {
                            padding-right: 10px;
                        }
                        &:nth-of-type(even) {
                            padding-left: 10px;
                        }
                    }
                    @include screen(m) {
                        &:nth-of-type(1), &:nth-of-type(2) {
                            width: 100%;
                        }
                        &:nth-of-type(3), &:nth-of-type(4) {
                            width: 100%;
                                                   
                        }
                    }
                  
                    .sensor-value-input {
                        float: left;
                        width: 80%;
                        height: 36px;
                        background-color: #fff;
                        border: 1px solid $light-periwinkle;
                        border-radius: 4px;
                        padding-left: 12px;
                        font-size: 14px;
    
                        &::placeholder {
                            color: $brown-grey;
                        }
                        
                    }
                    input:read-only { background-color: #ddd }
                    .searchbutton{
                        background-color:#58A943;
                        border-radius:4px;
                        border:1px solid #58a943;
                        color:#fff;
                        font-size:14px;
                        width: 20%;
                        height: 36px;
                    }
    
                }
            }
            
            
        }
       
        .User-form-section {
            &:last-of-type {
                border-bottom: 0
            }
        }
      

        article.lc-content-card {
            margin-top: 10px;
            position: relative;            
            display: block;
            padding: 0 8px;
            background-color: #f5f5f9;
            .form-label{
                margin-top: 10px;
                margin-bottom: 10px;
                label{
                    color: $brown-grey;
                    font-size: 16px;
                    font-weight: bold;
                }
                .theme-text-button {
                    position: absolute;
                    right: 12px;                    
                    z-index: 1;
                }
            }
        }

        .lc-User-name-wrap {
            
            width: 100%;
            height: 100%;           
        }

    }
    div#UserSettingWrap {
        padding: 8px 0;

        @include screen(pc, t) {
            @include after-clear();
            div.User-setting-form{

                width: 100%;
                float: left;

                &:nth-of-type(2) {
                    border-left: 1px solid $light-periwinkle;
                }
            }   
        }

        @include screen(m) {
            padding: 0;
            div.User-setting-form {
                padding:18px;
            }
        }

        
    }

    div#autoControlButtonWrap {
        @include after-clear();
        .button-wrap {
            width: 50%;
            float: left;
            &:first-of-type {
                padding-right: 18px;
            }
            &:last-of-type {
                padding-left: 18px;
            }
            button {
                display: block;
                width: 100%;
                font-size: 14px;
                height: 36px;
            }
        }
    }
    ul#screenOrderList {
        padding:10px 0px;
        border-bottom: 1px solid $light-periwinkle;
       
            span.user-label {
                color: $brown-grey;
                font-size: 15px;
                font-weight: bold;
                margin-bottom: 5px;
                
            }
        
        li.screen-order-list-item {
            margin-top:8px;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}
