#lcModalWeatherWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalWeather {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        min-height: 485px;
        position: relative;
        padding: 0;
    
        h4 {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
        }
    
        article.weather-info-wrap {
            text-align: center;
            color: #000;
        
            .weather-date {
                display: block;
            }
        
            span.temperature {
                font-weight: bold;
            }
        
            span.summary {
                display: block;
                line-height: 1.32;
                word-break: keep-all;
                height: 36px;
            }
        
            .detail-weather-info-wrap {
                margin-top: 16px;
                span {
                    font-size: 12px;
                    font-weight: normal;
                    color: $brown-grey;
                    margin-bottom: 10px;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        section#relativeWeatherInfoWrap {
            ul#relativeDateWeatherInfo {
                @include after-clear();
                border-bottom: 1px solid $light-periwinkle;
        
                li {
                    float: left;
                    width: 33.33333%;
                    border-right: 1px solid $light-periwinkle;
                    &:last-of-type {
                        border-right: 0;
                    }
                }
    
                article.weather-info-wrap {
                    padding: 26px 0;
        
                    .weather-date {
                        font-size: 14px;
                        margin-top: 16px;
                    }
        
                    img.weather-icon {
                        display: block;
                        margin: 10px auto 0;
                        width: 72px;
                        height: 72px;
                    }
        
                    span.temperature {
                        font-size: 14px;
                        margin-top: 10px;
                    }
        
                    span.summary {
                        margin-top: 18px;
                        font-size: 14px;
                    }
        
                    .detail-weather-info-wrap {
                        margin-top: 20px;
                        span {
                            display: block;
                            font-size: 12px;
                            font-weight: normal;
                            color: $brown-grey;
                            margin-bottom: 10px;
                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    
        section#weeklyWeatherInfoWrap {
            padding: 20px 0 32px;
    
            ul#weeklyWeatherInfo {
                margin-top: 24px;
                @include after-clear();
    
                li {
                    float: left;
                    width: 20%;
                    border-right: 1px solid $light-periwinkle;
                    &:last-of-type {
                        border-right: 0;
                    }
                }
    
                article.weather-info-wrap {
        
                    .weather-date {
                        font-size: 12px;
                    }
        
                    img.weather-icon {
                        display: block;
                        margin: 8px auto 0;
                        width: 48px;
                    }
        
                    span.temperature {
                        font-size: 12px;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}