#lcModalWindDirectionSettingWrap {
  #lcModalWindDirectionSetting {
    @include screen(pc, t) {
      width: $modal-size-normal;
    }
    @include screen(m) {
      max-width: $modal-size-normal;
    }

    section.modal-body {
      padding: 0;
    }

    .lc-group-setting {
      padding: 18px;
      border-bottom: 1px solid $modal-header-border-color;

      @include screen(pc, t) {
        display: flex;
      }

      .lc-group-setting-menu {
        width: 50%;

        @include screen(m) {
          width: 100%;
          margin-bottom:12px;
        }

        &:last-of-type {
          margin-left: 12px;

          @include screen(m) {
            margin: 0;
          }
        }

        p.lc-group-setting-name {
          padding-bottom: 12px;
        }


      }
    }

    .lc-setting-motor {
      padding: 18px 18px 32px;

      .setting-motor-name-wrap {
        display: flex;
        justify-content: space-between;

        p {

        }

        button {
          font-size: 14px;
          color: $theme-color;
        }
      }


      .setting-motor-list-wrap{
        display:block;
        width:100%;
        padding-top:12px;

        .setting-motor-item{
          display:inline-block;
          width:50%;
          padding-bottom:12px;

          &:nth-of-type(even) {
            padding-left: 5px;

            @include screen(m) {
              padding-left:0;
            }
          }

          @include screen(m) {
            width:100%;
          }

          .setting-motor-select{
            display:inline-block;
            width:90%;
          }

          button.remove-motor-button{
            width:10%;
            font-size: 14px;

          }
        }

        p.not_exists{
          padding:30px;
          vertical-align: center;
          text-align: center;
        }
      }

      .setting-motor-button-wrap{
        display:flex;

        button{
          flex-basis:50%;
          padding:8px;

          &:last-of-type {
            margin-left:12px;
          }
        }
      }
    }
  }
}