$path-header: #{$path-image}#{'header/'};

$ic-menu-pc: #{$path-header}#{'menu@2x.png'};
$ic-menu-m: #{$path-header}#{'menu@3x.png'};

$img-logo-pc: #{$path-header}#{'logo@2x.png'};
$img-logo-m: #{$path-header}#{'logo@3x.png'};

$img-logo-kdn-pc: #{$path-header}#{'kdn@3x.png'};


header#lcHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $theme-color;
    z-index: 15;
    overflow: visible;
    @include screen(pc) {
        height: 64px;
    }
    @include screen(t, m) {
        height: 48px;
    }
}

#lcMenuButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px;
    @include screen(pc) {
        width: 64px;
        height: 64px;
        background-image: url(/public/images/commons/ic-history-back@2x.png);
    }
    @include screen(t, m) {
        width: 48px;
        height: 48px;
        background-image: url(/public/images/commons/ic-history-back@2x.png);
    }
}

#lcHamburgerBtn {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: transparent;

    .hamburger-wrap {
    }

    i {
        width: 24px;
        height: 2px;
        display: block;
        margin: 4px auto;
        background-color: #ecf0f1;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    &.lc-active {
        & ~ nav#rightSideNav {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }
        i {
            &:nth-of-type(2) {
                opacity: 0;
            }

            &:first-of-type {
                -webkit-transform: translateY(6px) rotate(45deg);
                -moz-transform: translateY(6px) rotate(45deg);
                -ms-transform: translateY(6px) rotate(45deg);
                -o-transform: translateY(6px) rotate(45deg);
                transform: translateY(6px) rotate(45deg);
            }

            &:last-of-type {
                -webkit-transform: translateY(-6px) rotate(-45deg);
                -moz-transform: translateY(-6px) rotate(-45deg);
                -ms-transform: translateY(-6px) rotate(-45deg);
                -o-transform: translateY(-6px) rotate(-45deg);
                transform: translateY(-6px) rotate(-45deg);
            }

            &:last-of-type {

            }
        }
    }

    @include screen(pc) {
        width: 64px;
        height: 64px;
    }
    @include screen(t, m) {
        width: 48px;
        height: 48px;
    }
}

div#rightSideNavOverlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.25);
    z-index: 1;
    display: none;
    &.lc-active {
        display: block;
    }
}

nav#rightSideNav {
    position: fixed;
    z-index: 10001;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    transform: translate(105%, 0);


    &:not(.lc-panel-mode) {
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .side-nav-content-wrap {
        position: relative;
        height: 100%;
        z-index: 1;
        box-shadow: -7px 4px 10px -6px rgba(0,0,0,0.55);
        background-color: #fff;
    }

    .right-side-nav-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10001;
        background-color: $theme-color;
        button#closeSideNav {
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(/public/images/commons/white-close-icon@2x.png);
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: 36px;
            background-size: 36px;
        }
    }

    .user-profile-wrap {
        padding: 24px 20px;

        span#userName {
            font-weight: 400;
            position: relative;
            display: inline-block;
            padding-left: 56px;
            line-height: 48px;
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                width: 48px;
                height: 48px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background-image: url(/public/images/commons/default-user-profile@2x.png);
                background-size: cover;
                background-position: left center;
                background-repeat: no-repeat;
            }
        }
        span#farmName{
            font-weight: 400;
            position: relative;
            display: inline-block;
            padding-left: 56px;            
        }
    }

    ul#rightSideSign {
        border-top:1px solid $pale-lilac-two;

        & > li {
            .right-side-nav-menu {
                span {
                    border:0;

                    &::after {
                        content:"";
                        display:none;
                    }
                }
            }
        }
    }

    ul#rightSideUl {
        border-top: 1px solid $pale-lilac-two;
        border-bottom: 1px solid $pale-lilac-two;

        & > li {
            &:last-of-type {
                .right-side-nav-menu {
                    span {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    ul.right-side-child-ul {
        max-height: 0;
        //overflow: hidden;
        overflow-y : auto;
        background-color: $pale-grey;
        padding-left: 36px;
        padding-right: 20px;
        -webkit-transition: max-height .25s ease-in-out;
        -moz-transition: max-height .25s ease-in-out;
        -ms-transition: max-height .25s ease-in-out;
        -o-transition: max-height .25s ease-in-out;
        transition: max-height .25s ease-in-out;

        &.lc-active {
            max-height: 460px;
        }
        li {
            cursor: pointer;
            line-height: 40px;
            border-bottom: 1px solid $pale-lilac-two;
            font-weight: 400;
            &:last-of-type {
                border-bottom: 0;
            }
        }
    }

    .right-side-nav-menu {
        cursor: pointer;
        font-weight: 400;
        padding: 0 20px;

        span {
            display: block;
            line-height: 48px;
            border-bottom: 1px solid $pale-lilac-two;
        }
        &.lc-has-menu {
            span {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    top: 16px;
                    right: 0;
                    width: 16px;
                    height: 16px;
                    background-image: url(/public/images/commons/under-arrow@2x.png);
                    -webkit-background-size: cover;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    -webkit-transition: transform .25s ease-in-out, border .55s ease-in-out;
                    -moz-transition: transform .25s ease-in-out, border .55s ease-in-out;
                    -ms-transition: transform .25s ease-in-out, border .55s ease-in-out;
                    -o-transition: transform .25s ease-in-out, border .55s ease-in-out;
                    transition: transform .25s ease-in-out, border .55s ease-in-out;
                }
            }

            &.lc-active {
                span {
                    border-bottom-color: transparent;
                    &:after {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    @include screen(pc) {
        width: 260px;
        .side-nav-content-wrap {
            padding-top: 64px;
        }
        .right-side-nav-header {
            height: 64px;
            button#closeSideNav {
                width: 64px;
                height: 64px;
            }
        }
    }
    @include screen(t, m) {
        width: 220px;
        .side-nav-content-wrap {
            overflow-y: scroll;
            height: 100%;

            padding-top: 48px;
            padding-bottom:57px;
        }
        .right-side-nav-header {
            height: 48px;
            button#closeSideNav {
                width: 48px;
                height: 48px;
            }
        }
    }
}

#lcLogo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    z-index: 15;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 32px;
    cursor: pointer;
    span {
        display: block;
        margin-top: -3000px;
    }
    @include screen(pc) {
        height: 64px;
        background-image: url($img-logo-pc);
    }
    @include screen(t, m) {
        height: 48px;
        background-image: url($img-logo-m);
    }
}


#lcLogo_farmlabs {
    position: relative;
    left: 45%;
    overflow: hidden;
    padding: 0 20px;
    width: 120px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 32px;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  
    @include screen(pc) {
      height: 64px;
      background-image: url($img-logo-pc);
    }
    @include screen(t, m) {
      height: 48px;
      background-image: url($img-logo-m);
  
      position: absolute;
      top: 7.5px;
      left: 50%;
      margin-left: -62px;
      width: 124px;
      height: 33px;
      overflow: visible;
  
    }
  
    span {
  
      margin-left: -3000px;
  
      @include screen(pc){
        text-indent: -100%;
  
      }
      @include screen(t, m){
  
      }
    }
  
  
  }
  
  
  #lcLogo_kdn {
    position: relative;
    left: 45%;
    overflow: hidden;
    padding: 0 20px;
    width: 120px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px 32px;
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  
    @include screen(pc) {
      height: 64px;
      background-image: url($img-logo-kdn-pc);
    }
    @include screen(t, m) {
      height: 48px;
      background-image: url($img-logo-kdn-pc);
  
      position: absolute;
      top: 7.5px;
      left: 50%;
      margin-left: -62px;
      width: 124px;
      height: 33px;
      overflow: visible;
  
    }
  
    span {
  
      margin-left: -3000px;
  
      @include screen(pc){
        text-indent: -100%;
  
      }
      @include screen(t, m){
  
      }
    }
  
  
  }
#lcMyInfoWrap {
    position: absolute;
    top: 0;
    cursor: pointer;
    i {
        position: absolute;
        border-radius: 50%;
        background-image: url(/public/images/commons/default-user-profile@2x.png);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center;
    }
    p {
        color: white;
    }

    &.lc-active {
        & ~ nav#rightSideNav {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }
    }
    @include screen(pc) {
        right: 20px;
        padding-left: 48px;
        height: 64px;
        i {
            top: 12px;
            left: 0;
            width: 40px;
            height: 40px;
        }
        p {
            line-height: 64px;
            font-size: 14px;
        }
    }
    @include screen(t, m) {
        right: 0;
        width: 48px;
        height: 100%;
        i {
            top: 12px;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -moz-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            width: 24px;
            height: 24px;
        }
        p {
            display: none;
        }
    }
}
