#mobileNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    
    ul#mobileNavList {
        @include after-clear();
        border-top: 1px solid $light-periwinkle;
        li.mobile-nav-list-item {
            float: left;
            width: 25%;
        }
    }
    
    article.mobile-nav-wrap {
        cursor: pointer;
        width: 100%;
        height: 56px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        
        span.mobile-nav-name {
            padding-top: 28px;
            color: $brown-grey;
            font-size: 12px;
            background-repeat: no-repeat;
            -webkit-background-size: 24px;
            background-size: 24px;
            background-position: top center;
            
            &.cctv {
                background-image: url(/public/images/commons/ic-navi-cctv@2x.png);
            }
    
            &.report {
                background-image: url(/public/images/commons/ic-navi-report@2x.png);
            }
            &.motor, &.power {
                background-image: url(/public/images/commons/ic-navi-control@2x.png);
            }
            
            &.innerSensor, &.outerSensor {
                background-image: url(/public/images/commons/ic-navi-sensor@2x.png);
            }
        }
    }
    
    @include screen(pc) {
        display: none;
    }
}