#lcExcelExportWrap {
    z-index:2;
    .lc-card-content-wrap {
        margin-top: 20px;
    }
    
    .content-row-wrap {
        display: block;
        margin: 0 -8px 12px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .content-item-wrap {
        position: relative;
        padding: 0 4px;
        display: inline-block;
        font-size: 0;
        width: 50%;
        vertical-align: middle;
    }
    
    .lc-select-box {
        width: 100%;
        height: 36px;
    }
    
    .download-btn {
        width: 100%;
        background-color: $theme-color;
        color: #fff;
        border-radius: 4px;
        font-size: 14px;
        line-height: 34px;
        
    
        -webkit-transition: background-color .25s ease-in-out, color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out, color .25s ease-in-out;
        -ms-transition: background-color .25s ease-in-out, color .25s ease-in-out;
        -o-transition: background-color .25s ease-in-out, color .25s ease-in-out;
        transition: background-color .25s ease-in-out, color .25s ease-in-out;
    }
}