$path-header: #{$path-image}#{'header/'};

$ic-menu-pc: #{$path-header}#{'menu@2x.png'};
$ic-menu-m: #{$path-header}#{'menu@3x.png'};

$img-logo-pc: #{$path-header}#{'logo@2x.png'};
$img-logo-m: #{$path-header}#{'logo@3x.png'};

header#lcHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $theme-color;
  z-index: 15;
  display: flex;
  @include screen(pc) {
    height: 64px;
  }
  @include screen(t, m) {
    height: 48px;

  }

}

#mobileHamburgerWrap{
  @include screen(pc) {
      display: none;
  }
  @include screen(t, m) {
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
  }

  button#mobileHamburger{
    width: 100%;
    height: 100%;
    background-image: url(/public/images/header/menu@2x.png);
    -webkit-background-size: 24px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

}

#mobileMenuOverlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: none;


  @include screen(pc) {
    display: none;
  }

  @include screen(t, m){
    &.lc-active{
      display: block;
    }
  }
}

#lcMenuButton {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  @include screen(pc) {
      width: 64px;
      height: 64px;
      background-image: url(/public/images/commons/ic-history-back@2x.png);
  }
  @include screen(t, m) {
      left: 40px;
      width: 48px;
      height: 48px;
      background-image: url(/public/images/commons/ic-history-back@2x.png);
  }
}

#lcLogo {
  position: relative;
  left: 45%;
  overflow: hidden;
  padding: 0 20px;
  width: 120px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px 32px;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  @include screen(pc) {
    height: 64px;
    background-image: url($img-logo-pc);
  }
  @include screen(t, m) {
    height: 48px;
    background-image: url($img-logo-m);

    position: absolute;
    top: 7.5px;
    left: 50%;
    margin-left: -62px;
    width: 124px;
    height: 33px;
    overflow: visible;

  }

  span {

    margin-left: -3000px;

    @include screen(pc){
      text-indent: -100%;

    }
    @include screen(t, m){

    }
  }


}

nav#lcHeaderNav {
  margin-left: 48px;
  height: 100%;
  display: flex;

  ul {
    display: flex;
    align-items: center;

    li {
      font-size: 16px;
      margin-right: 32px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        font-size: 16px;
        color: #fff;
      }
    }
  }
}

#lcMyInfoWrap {
  position: absolute;
  top: 0;
  cursor: pointer;

  i {
    position: absolute;
    border-radius: 50%;
    background-image: url(/public/images/commons/default-user-profile@2x.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }

  p {
    color: white;
  }

  @include screen(pc) {
    right: 20px;
    padding-left: 48px;
    height: 64px;
    i {
      top: 12px;
      left: 0;
      width: 40px;
      height: 40px;
    }
    p {
      line-height: 64px;
      font-size: 14px;
    }
  }
  @include screen(t, m) {
    right: 12px;
    width: 24px;
    i {
      top: 12px;
      left: 0;
      width: 24px;
      height: 24px;
    }
    p {
      display: none;
    }
  }
}


nav#an-navi {

  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  height: 100%;
  width: 220px;


  @include screen(pc) {
    display: block;
    margin-top: 64px;
  }

  @include screen(t, m){
    //display: none;


    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

    -webkit-font-smoothing: antialiased;
    transform: translate(-105%, 0);
  }

  &.lc-active{
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;




  }

  .side-nav-header{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10001;
    background-color: #83c772;

    @include screen(pc) {
      display: none;

    }
    @include screen(t, m){
      height:48px;
    }

    button.close-nav-btn{

      @include screen(t, m){
        width: 48px;
        height: 48px;
      }

      position: absolute;
      top: 0;
      left: 0;
      background-image: url(/public/images/commons/white-close-icon@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: 36px;
      background-size: 36px;

    }
  }


  .side-nav-content-wrap {
    height: 100%;
    position: relative;
    font-size: 14px;
    z-index: 1;
    box-shadow: 7px 4px 10px -6px rgba(0, 0, 0, 0.55);
    background-color: #fff;

    @include screen(t, m){
      padding-top:48px;
    }


    .left-side-nav-menu {
      cursor: pointer;
      font-weight: 400;
      padding: 0 20px;
      border-bottom: transparent;

      span {
        position: relative;
        display: block;
        line-height: 48px;
        font-weight:300;

        &::after {
          transform: rotate(180deg);
          content: '';
          position: absolute;
          top: 16px;
          right: 0;
          width: 16px;
          height: 16px;
          background-image: url(/public/images/commons/under-arrow@2x.png);
          -webkit-background-size: cover;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

    }

    .left-side-child-ul{
      overflow: hidden;
      background-color: #f5f5f9;
      padding-left: 36px;
      padding-right: 20px;

      .left-side-child-li{

        cursor: pointer;
        line-height: 40px;
        border-bottom: 1px solid #e5e5e8;
        font-weight: 300;

        &:last-of-type{
          border-bottom: none;
        }

        &.lc-active{
          font-weight: bold;
          color: #83c772;
        }

        &:hover{
          font-weight: bold;
          color: #83c772;
        }

        span{
          display: block;
        }

      }
    }
  }
}

