#lcJournalWrap {
    .card-header-button {
        width: 87px;
        height: 36px;
    }
    
    .css-10nd86i {
        width: 108px;
        margin-bottom: 8px;
    }
    
    div.lc-card-content-wrap {
        margin-top: 16px;
    }
    
    ul.lc-journal-list {
        & > li {
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    
    article.lc-content-card {
        padding: 24px 16px;
        
        p {
            color: $brown-grey;
            font-size: 15px;
            font-weight: 100;
            strong {
                color: $navy-color;
                font-weight: bold;
                margin-right: 8px;
                
                &.lc-red {
                    color: $pastel-red;
                    font-weight: bold;
                }
            }

            span {
                color:#000;
                font-weight:normal;
            }
            margin-bottom: 16px;
            &:last-of-type {
                margin-bottom: 0;
            }
            
            &.journal-content {
                line-height: 1.24;
                white-space: pre-wrap;
            }
        }
    }
}