#lcSensorGroupWrap {
    .card-header-button {
        width: 113px;
        height: 36px;
    }

    .zoom-graph {
        margin-left:auto;
        margin-right:10px;
        font-size:14px;
        font-weight:100;
    }
    
    .lc-card-content-wrap {
        margin-top: 24px;
    }
    
    article.lc-content-card {
        cursor: pointer;
        padding: 10px 16px;
        
        -webkit-background-size: 64px;
        background-size: 64px;
        background-repeat: no-repeat;
        background-position: center right 16px;
        
        p {
            color: #000;
            font-size: 16px;
        }
        
        .content-title {
            margin-bottom: 16px;
            line-height: 1.24;
        }
        
        .content-value {
            line-height: 13px;
            &.lc-warning {
                color: $coral;
            }
        }
    }

    .list-section-wrap {
        position: relative;
        z-index: 2;
        padding: 16px;
    }

    ul#sensorGroup_List {
        li.sensorGroup-list-item {
            position: relative;
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .lc-sensorGroup-name-wrap {
        overflow: hidden;
        width: 100%;
        height: 100%;

        p.lc-sensorGroup-name-wrap {
            font-size: 15px;
            padding-right: 186px;
            line-height: 56px;
            text-overflow: ellipsis;
        }       
        span {
            &.lc-control-name-index {
                margin-right: 8px;
            }
        }
    }
    .lc-sensorGroup-wrap {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        display: flex;
        align-items: center;
        flex-basis: auto;
        max-width: 190px;

        .ordinary-menu-wrap {
            display: flex;
            align-items: center;
            margin-right: 8px;
            font-size: 15px;
            font-weight:400;
        }

       


        button.open-menu-btn {
            margin-right: 8px;
            width: 24px;
            height: 24px;
            background-image: url(/public/images/commons/under-arrow-big@2x.png);
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: center;

            &.lc-open {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        .three-dot-menu {
            width: 24px;
            height: 24px;
            z-index: 5;

            .three-dot-view-more-menu {
                width: 120px;
                top: 100%;
            }
        }
    }
}