#lcModalBreedCreateWrap {
    z-index: 30;
}

#lcModalBreedCreate {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 20px 18px 36px 18px;

        .control-box {
            margin-bottom: 16px;

            &.last{
                margin-bottom:20px;
            }

            .control-inline-box {
                margin-bottom:16px;
            }

            .animal-select-box {
                width: 50%;
            }

            label.control-title {
                font-size: 12px;
                color: $brown-grey;
                display: block;
                margin-bottom: 8px;
                font-feed: 300;
            }

            .control-input-box {
                width: 50%;
            }

            .control-textarea {
                width: 100%;

            }

            .control-unit-txt {
                font-size: 14px;
                color: #000;
                margin-left: 8px;
                font-feed: 200;
            }

            .breed-creat-date{
                margin-bottom: 16px;
                float: left;
                width: 50%;
            }

            .breed-creat-box{
                width: 90%;
                height: 32px;
                border-radius: 4px;
                border: solid 1px #d5d5dd;
                background-color: #ffffff;
                padding: 0 12px;
                font-feed: 200;
                color: #888888;
                font-size: 14px;
            }


        }


        button.btn-green {
            margin-top:4px;
            width:100%;
        }

    }
}