#lcModalBreedDetailWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalBreedDetail {
    @include screen(pc, t) {       
        width: $modal-size-normal;
    }
    @include screen(m) {
        width: $modal-size-small;
    }
    
    section.modal-body {
        padding: 32px 24px 36px 24px;
        
        height: 830px;
        overflow-y: auto;

        .breed-title {
            display: flex;
            justify-content: space-between;
            
            .breed-title-id {
                width: 185px;
                height: 34px;
                border-radius: 4px;
                border: 1px solid $light-periwinkle;
                
                h3 {
                    font-size: 14px;
                    font-weight: bold;
                    color: #888888;
                    text-align: center;
                    line-height: 32px;
                    vertical-align: middle;
                }
                
            }
            
            .breed-title-open-modal {
                
                button.btn-green {
                    width: 96px;
                }
            }
        }
        
        .breed-title-month {
            
            @include screen(pc, t) {
                
                &.pc {
                    display: flex;
                    justify-content: space-between;
                    padding-right: 85px;
                }
                
                &.mobile {
                    display: none;
                }
            }
            
            @include screen(m) {
                
                &.pc {
                    display: none;
                }
                
                &.mobile {
                    display: flex;
                    justify-content: center;
                    padding-top: 36px;
                }
            }
            
            .previous {
                height: 32px;
                img {
                    width: 32px;
                    height: 32px;
                }
                
            }
            
            .date {
                
                font-size: 18px;
                font-weight: bold;
                color: #000;
                padding: 0 16px;
                line-height: 32px;
                
            }
            
            .next {
                height: 32px;
                
                img {
                    width: 32px;
                    height: 32px;
                }
            }
        }
        
        
        .breed-calendar-wrap {
            margin-top: 40px;
            table#breedCalendar {
                table-layout: fixed;
                border-collapse: collapse;
                
                thead {
                    tr {
                        th {
                            font-size: 14px;
                            color: $brown-grey;
                            font-weight: bold;
                            text-align: center;
                            vertical-align: middle;
                            padding: 8px 0;
                        }
                    }
                }
                
                tbody {
                    tr {
                        td {
                            width: 96px;
                            height: 96px;
                            border: 1px solid $light-periwinkle;
                            
                            @include screen(m) {
                                height: 60px;
                            }

                            div.lc-date-wrapper {
                                position: relative;
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                                
                                @include screen(pc) {
                                    &:hover {
                                        background-color: rgba(255, 204, 72, 0.2);
                                    }
                                }
                                @include screen(t, m) {
                                    &:active {
                                        background-color: rgba(255, 204, 72, 0.2);
                                    }

                                }
                            }
                            
                            span.date-span {
                                font-size: 14px;
                                font-weight: bold;
                                color: #000;
                                position: absolute;
                                top: 14px;
                                left: 14px;

                                @include screen(m) {
                                    top: 8px;
                                    left: 8px;
                                    font-size: 13px;
                                }
                            }
                            
                            div.date-dot {
                                position: absolute;
                                width: 6px;
                                height: 6px;
                                bottom: 12px;
                                border-radius: 2px;

                                @include screen(m) {
                                    width: 5px;
                                    height: 5px;
                                    bottom: 8px;
                                }

                                &:first-of-type {
                                    left: 12px;
                                    @include screen(m) {
                                        left: 2px;
                                    }
                                }
                                &:nth-of-type(2) {
                                    left: 22px;
                                    @include screen(m) {
                                        left: 10px;
                                    }
                                }
                                &:nth-of-type(3) {
                                    left: 32px;
                                    @include screen(m) {
                                        left: 18px;
                                    }
                                }
                                &:nth-of-type(4) {
                                    left: 42px;
                                    @include screen(m) {
                                        left: 26px;
                                    }
                                }
                                &:nth-of-type(5) {
                                    left: 52px;
                                    @include screen(m) {
                                        left: 32px;
                                    }
                                }
                                
                                &.dot-green {
                                    background-color: $theme-color;
                                }
                                &.dot-blue {
                                    background-color: #6c9ed9;
                                }
                                &.dot-red {
                                    background-color: #d96c6c;
                                }
                                &.dot-yellow {
                                    background-color: #fff200;
                                }
                                &.dot-orange {
                                    background-color: #ff6600;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        
        
        .breed-content {
            margin-top: 40px;
            .content-date-area {
                h3 {
                    font-size: 16px;
                }
            }
            
            .content-list {
                ul {
                    li {
                        background: #fff;
                        border: 1px solid $light-periwinkle;
                        border-radius: 4px;
                        min-height: 110px;
                        margin-top: 10px;
                        padding: 20px;
                        
                        .list-title {
                            display: flex;
                            font-size: 16px;
                            padding-bottom: 20px;
                            line-height: 24px;

                            @include screen(m) {
                                display: block;
                                font-size: 16px;
                                padding-bottom: 10px;


                                .status-txt{
                                    display: block;
                                    padding: 0px 20px;
                                }                               

                                .status-date{
                                    padding-right: 0px;
                                }
                                .status-color-check{
                                    position: absolute;
                                }
                                .status-color-estrus{
                                    position: absolute;
                                }
                                .status-color-insemination{
                                    position: absolute;
                                }
                                .status-color-dryUp{
                                    position: absolute;
                                }
                                .status-color-birth{
                                    position: absolute;
                                }
                                
                            }
                            
                            .status-id {
                                padding-right: 6px;
                                
                            }
                            
                            .status-color {
                                background-color: #bbb;
                                border-radius: 50%;
                                width: 12px;
                                height: 12px;
                                line-height: 24px;
                                margin: 7px 0;
                            }

                            .status-color-estrus {
                                background-color:  #d96c6c;
                                border-radius: 50%;
                                width: 12px;
                                height: 12px;
                                line-height: 24px;
                                margin: 7px 0;
                            }

                            .status-color-insemination {
                                background-color: #ff6600;
                                border-radius: 50%;
                                width: 12px;
                                height: 12px;
                                line-height: 24px;
                                margin: 7px 0;
                            }

                            .status-color-check {
                                background-color: #6c9ed9;
                                border-radius: 50%;
                                width: 12px;
                                height: 12px;
                                line-height: 24px;
                                margin: 7px 0;
                            }

                            .status-color-dryUp {
                                background-color: #fff200;
                                border-radius: 50%;
                                width: 12px;
                                height: 12px;
                                line-height: 24px;
                                margin: 7px 0;
                            }

                            .status-color-birth {
                                background-color: $theme-color;
                                border-radius: 50%;
                                width: 12px;
                                height: 12px;
                                line-height: 24px;
                                margin: 7px 0;
                            }
                            
                            .status-txt {
                                @include screen(pc, t) {
                                    padding-right: 6px;
                                }
                            }
                            
                            .status-date {
                                @include screen(pc, t) {
                                    padding-right: 6px;
                                }
                            }
                            
                            .status-btn {
                                margin-left: auto;
                                button {
                                    color: $theme-color;
                                    font-size: 16px;
                                    font-weight: 200;
                                }
                                
                            }
                            
                        }
                        
                        .list-content {
                            p {
                                line-height: 1.5;
                                font-size: 16px;
                                color: $brown-grey;
                            }
                        }
                    }
                }
            }
            
        }
        
    }
}