#lcModalEntityCreateWrap {
  //z-index: 20; specify z-index when modal on modal
}

#lcModalEntityCreate {
  @include screen(pc, t) {
    width: $modal-size-small;
  }
  @include screen(m) {
    width: 100%;
  }

  section.modal-body {
    padding: 0;

    .entity-create {

      border-bottom: solid 1px $light-periwinkle;
      padding: 20px 18px;

      &.btn-area {
        padding: 20px 18px 36px 18px;
        display:flex;
      }

      .entity-label {
        font-size: 14px;
        color: #000000;
        padding-bottom: 8px;
        display: flex;
        font-weight: 300;
      }

      .animal-input-box {
        width: 100%;

        &.entity-id {
          //  width:300px;
        }
      }

      .animal-select-box {
        width: 100%;
      }


      .entity-create-detail {
        //display:inline-block;
        //vertical-align: top;
        width: 50%;
        display: inline-block;
        vertical-align: top;

        .entity-select-label {
          color: $brown-grey;
          margin-left: 2px;
          font-weight: 300;
        }

        .select-input-label {

          .entity-label {
            display: inline-block;
          }

        }

      }

      button.btn-line {

        width:50%;

      }

      button.btn-green {
        width:50%;

      }

      .pr-6 {
        padding-right: 6px;
      }

      .pr-30 {
        padding-right: 30px;
      }

      .pl-6 {
        padding-left: 6px;
      }

      .mr-6 {
        margin-right: 6px;
      }

      .ml-6 {
        margin-left: 6px;
      }

      .pb-20 {
        padding-bottom: 20px;
      }

      &.entity-image{
        display:flex;

        .entity-image-area{
            //display:flex;
            //flex-direction: row;
            width:50%;
            img{
                width: 144px;
                height: 144px;
                border-radius: 4px;
                background-color: $light-periwinkle;
            }
        }

        .entity-image-btn{
            width:50%;
            display: flex;
            flex-direction: column;

            button{
                width:100%;
            }
            button.btn-line{
                display: block;
                margin-bottom:10px;
            }
        }
    }
    }

  }


}