#lcModalFeedWrap {
  //z-index: 20; specify z-index when modal on modal
}

#lcModalFeed {
  @include screen(pc, t) {
    width: $modal-size-small;
  }
  @include screen(m) {
    width: 100%;
  }

  section.modal-body {
    padding: 20px 18px 36px 18px;

    .control-box {
      margin-bottom: 16px;
      display: flex;
      flex-wrap: wrap;
      &.last{
        margin-bottom:20px;
      }

      .feed-box {
        //display: inline-block;

        width: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom:18px;
      }

      .feed-box-unit{
        width:100%;

        .control-input-box{
          width:50%;
        }

      }

      label.control-info-label {
        font-size: 12px;
        color: $brown-grey;
        display: block;
        margin-bottom: 8px;
        font-feed: 300;
      }

      .control-input-box {
        width: 100%;
      }

      .control-textarea {
        width: 100%;

      }

      .control-unit-txt {
        font-size: 14px;
        color: #000;
        margin-left: 8px;
        font-feed: 200;
      }
      .control-unit-box{
        height: 32px;
        border-radius: 4px;
        border: solid 1px $light-periwinkle;
        background-color: #ffffff;
        color:$brown-grey;
        font-size:14px;
        font-weight:300;
        padding:0px 29px 0px 10px;
        background-image:url(/public/images/commons/select-arrow.svg);
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: right 12px center;

        -webkit-appearance:none; /* Safari and Chrome */
      }

    }

    button.btn-green {
      width: 100%;
    }

    .mr-16 {
      margin-right: 16px;
    }

    .pr-6{
      padding-right:6px;
    }
    .pl-6{
      padding-left:6px;
    }
  }

}