#lcModalMateCountWrap {
    //z-index: 20; specify z-index when modal on modal
}

#lcModalMateCount {
    @include screen(pc, t) {
        width: $modal-size-small;
    }
    @include screen(m) {
        width: 100%;
    }
    
    section.modal-body {
        padding: 20px 18px 36px 18px;

        .control-box {
            margin-bottom: 16px;

            &.last{
                margin-bottom:20px;
            }

            label.control-info-label {
                font-size: 12px;
                color: $brown-grey;
                display: block;
                margin-bottom: 8px;
                font-feed: 300;
            }

            .control-input-box {
                width: 50%;
            }

            .control-textarea {
                width: 100%;

            }


        }

        button.btn-green {
            width: 100%;
        }
    }




}