#lcModalWeightWrap {
  //z-index: 20; specify z-index when modal on modal
}

#lcModalWeight {
  @include screen(pc, t) {
    width: $modal-size-small;
  }
  @include screen(m) {
    width: 100%;
  }

  section.modal-body {
    padding: 20px 18px 36px 18px;

    .control-box {
      margin-bottom: 16px;

      .control-input-box {
        width: 50%;
      }

      &.last {
        margin-bottom: 20px;
      }

      label.control-info-label {
        font-size: 12px;
        color: $brown-grey;
        display: block;
        margin-bottom: 8px;
        font-weight: 300;
      }

      .weight-input {
        width: 50%;
      }


      .control-textarea {
        width: 100%;
      }

      .weight-txt {
        font-size: 14px;
        color: #000;
        margin-left: 8px;
        font-weight: 200;
      }

    }

    button.btn-green {
      width: 100%;
    }
  }
}