#lcTotalGraphWrap {
    .total-graph-header-wrap {
        display: flex;
        align-items: center;
        
        .card-header-button {
            height: 36px;
            &:first-of-type {
                width: 113px;
                margin-right: 8px;
            }
            &:last-of-type {
                width: 58px;
            }
        }
    }
}