article#lcScreenSaver {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    background-image: url(/public/images/farm/screen-saver-background-new@2x.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    //&:before {
    //    content: '';
    //    position: absolute;
    //    width: 100%;
    //    height: 100%;
    //    z-index: 101;
    //    top: 0;
    //    left: 0;
    //    background-color: rgba(0, 0, 0, 0.6);
    //}

    .sensor-info-wrap {
        z-index: 101;
        position: absolute;
        width:1200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        //width: 100%;
        padding: 48px 96px;
        background-color: rgba(#000, 0.6);
        span {
            display: block;
            font-size: 108px;
            color: #ffff7f;

            &.sensor-name {
                margin-bottom: 64px;
                font-weight: bold;
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

        }
    }

    .logo-img {
        position: absolute;
        left: 50%;
        bottom: 48px;
        transform: translate(-50%, 0);
        z-index: 101;
        width: 296px;
    }
}
