$time-state-color: $ornageish;

#lcAutoControlWrap {
    .auto-control-header-wrap {
        display: flex;
        align-items: center;
        
        .time-state {
            float: left;
            margin-right: 12px;
            border: 2px solid $time-state-color;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            text-align: center;
            
            span {
                font-size: 14px;
                color: $time-state-color;
                line-height: 36px;
            }
        }
        
        .toggle-radio-wrap {
            float: left;
        }
    }
}