button.btn-green{
    height: 36px;
    border-radius: 4px;
    background-color: $theme-color;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}

button.btn-line{
    height: 36px;
    border-radius: 4px;
    border: solid 1px $theme-color;
    font-size:14px;
    color: $theme-color;
    font-weight: 200;
}