.animal-input-box{
    height: 36px;
    border-radius: 4px;
    border: solid 1px $light-periwinkle;
    background-color: #ffffff;
    padding-left:12px;
}

.control-input-box{
    height: 32px;
    border-radius: 4px;
    border: solid 1px $light-periwinkle;
    background-color: #ffffff;
    padding: 0 12px;
    font-feed: 200;
    color: $brown-grey;
    font-size: 14px;


    &::placeholder {
        color: $very-light-pink;
        font-size: 14px;
    }
}