$ic-modal-close: "/public/images/commons/close-icon-pc.svg";

$modal-body-color: $pale-grey;
$modal-header-border-color: #d5d5dd;

$default-modal-z-index: 20;

$modal-size-big: 912px;
$modal-size-normal: 720px;
$modal-size-small: 336px;

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: $default-modal-z-index;
    
    @media screen and (min-width: 769px) {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility .3s, opacity .3s;
        -moz-transition: visibility .3s, opacity .3s;
        -ms-transition: visibility .3s, opacity .3s;
        -o-transition: visibility .3s, opacity .3s;
        transition: visibility .3s, opacity .3s;
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    @media screen and (max-width: 768px) {
        display: none;
        &.active {
            display: block;
        }
    }
}

.modal-wrap {
    position: relative;
    margin: auto;
    border-radius: 6px;
    box-shadow: 0 4px 13px 10px rgba(0, 0, 0, 0.17);
    //overflow: hidden;
    overflow: visible;
    @media screen and (min-width: 769px) {
        @include modal();
    }
}

.vertical-align-wrap {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    @include screen(pc, t) {
        padding: 24px;
    }
    @include screen(m) {
        padding: 16px;
    }
    .vertical-align {
        display: table-cell;
        vertical-align: middle;
    }
}

button.lc-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    background-image: url($ic-modal-close);
    width: 36px;
    height: 36px;
    padding: 8px;
    opacity: 0.85;
    
    @include screen(pc) {
        &:hover {
            opacity: 1;
        }
    }
    @include screen(t, m) {
        &:active {
            opacity: 1;
        }
    }
}

section.modal-header {
    background-color: $modal-body-color;
    border-bottom: 1px solid $modal-header-border-color;
    padding: 18px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    h3 {
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        color: #000;
    }
}

section.modal-body {
    background-color: $modal-body-color;
    //overflow-y: auto;
    overflow: visible;
    padding: 18px 18px 32px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    @include screen(pc, t) {
        //max-height: 800px;
    }
    @include screen(m) {
    }
}

@import "./modals/entity-create";
@import "./modals/entity-detail";
@import "./modals/weight";
@import "./modals/feed";
@import "./modals/supply-water";
@import "./modals/mate-count";
@import "./modals/breed-detail";
@import "./modals/breed-create";