.lc-pagination-container {
    margin-top: 24px;
    display: block;
    text-align: center;
    
    .lc-pagination-wrap {
        display: inline-block;
        font-size: 0;
    }
    
    .lc-pagination-btn, .lc-pagination-number-btn {
        width: 32px;
        height: 32px;
    }
    
    .lc-pagination-btn {
        display: inline-block;
        vertical-align: middle;
        &.left {
            margin-right: 8px;
            background-image: url(/public/images/commons/pagination-left.svg);
            background-repeat: no-repeat;
            -webkit-background-size: 16px;
            background-size: 16px;
            background-position: center;
        }
        &.right {
            margin-left: 8px;
            background-image: url(/public/images/commons/pagination-right.svg);
            background-repeat: no-repeat;
            -webkit-background-size: 16px;
            background-size: 16px;
            background-position: center;
        }
    }
    
    ol.lc-pagination-list {
        display: inline-block;
        vertical-align: middle;
        & > li {
            display: inline-block;
            margin-right: 8px;
            &:last-of-type {
                margin-right: 0;
            }
            
            &.lc-active {
                .lc-pagination-number-btn {
                    background-color: $theme-color;
                    color: #fff;
                }
            }
        }
    }
    
    .lc-pagination-number-btn {
        font-size: 13px;
        color: #222;
        line-height: 96%;
        font-weight: 300;
        border-radius: 4px;
    }
}