.animal-select-box{
    //width:144px;
    height: 36px;
    border-radius: 4px;
    border: solid 1px $light-periwinkle;
    background-color: #ffffff;
    color:$brown-grey;
    font-size:14px;
    font-weight:300;
    padding:8px 12px;
    background-image:url(/public/images/commons/select-arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 12px center;


    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    &::-ms-expand {display:none}

}