.control-textarea{
    height: 120px;
    border-radius: 4px;
    border: solid 1px $light-periwinkle;
    background-color: #ffffff;
    padding: 8px 12px;
    font-weight: 200;
    color: $brown-grey;
    font-size: 14px;
    resize: none;


    &::placeholder {
        color: $very-light-pink;
        font-size: 14px;
    }
}