div.fixed-on-mobile {
    position: relative;
    z-index: 1;
}

ul.sensor-list {
    margin: -5px;
    li.sensor-li {
        display: inline-block;
        padding: 5px;
        width: 50%;
        font-size: 0;
        vertical-align: middle;
        
        .lc-content-card {
            &.lc-sensor-liter {
                background-image: url(/public/images/farm/sensor-icons/liter@2x.png);
            }
            &.lc-sensor-power {
                background-image: url(/public/images/farm/sensor-icons/power@2x.png);
            }
            &.lc-sensor-battery {
                background-image: url(/public/images/farm/sensor-icons/battery@2x.png);
            }
            &.lc-sensor-temperature {
                background-image: url(/public/images/farm/sensor-icons/temperature@2x.png);
            }
            &.lc-sensor-humidity {
                background-image: url(/public/images/farm/sensor-icons/humidity@2x.png);
            }
            &.lc-sensor-rain {
                background-image: url(/public/images/farm/sensor-icons/rain@2x.png);
            }
            &.lc-sensor-windDirection {
                background-image: url(/public/images/farm/sensor-icons/wind-direction@2x.png);
            }
            &.lc-sensor-windSpeed {
                background-image: url(/public/images/farm/sensor-icons/wind-speed@2x.png);
            }
            &.lc-sensor-solar {
                background-image: url(/public/images/farm/sensor-icons/solar@2x.png);
            }
            &.lc-sensor-soilTemperature {
                background-image: url(/public/images/farm/sensor-icons/land-temperature@2x.png);
            }
            &.lc-sensor-soilHumidity {
                background-image: url(/public/images/farm/sensor-icons/land-humidity@2x.png);
            }
            &.lc-sensor-ec {
                background-image: url(/public/images/farm/sensor-icons/ec@2x.png);
            }
            &.lc-sensor-co2 {
                background-image: url(/public/images/farm/sensor-icons/co2@2x.png);
            }
            &.lc-sensor-ph {
                background-image: url(/public/images/farm/sensor-icons/ph@2x.png);
            }
            &.lc-sensor-humidityDeficit {
                background-image: url(/public/images/farm/sensor-icons/humidityDeficit@2x.png);
            } 
            &.lc-sensor-window {
                background-image: url(/public/images/farm/sensor-icons/window@2x.png);
            }
            &.lc-sensor-fire {
                background-image: url(/public/images/farm/sensor-icons/fire@2x.png);
            }
            &.lc-sensor-door {
                background-image: url(/public/images/farm/sensor-icons/door@2x.png);
            }
            &.lc-sensor-frostTemperature {
                background-image: url(/public/images/farm/sensor-icons/frost@2x.png);
            }
            &.lc-sensor-water {
                background-image: url(/public/images/farm/sensor-icons/water@2x.png);
            }
            &.lc-sensor-korinsPressure {
                background-image: url(/public/images/farm/sensor-icons/korinsPressure@2x.png);
            }
            &.lc-sensor-korinsInstantRainFall {
                background-image: url(/public/images/farm/sensor-icons/korinsFall@2x.png);
            }
            &.lc-sensor-korinsCumulativeRainFall {
                background-image: url(/public/images/farm/sensor-icons/korinsFall@2x.png);
            }ss
            &.lc-sensor-korinsFall {
                background-image: url(/public/images/farm/sensor-icons/korinsFall@2x.png);
            }
            &.lc-sensor-dryTemperature {
                background-image: url(/public/images/farm/sensor-icons/temperature@2x.png);
            }
            &.lc-sensor-wetTemperature {
                background-image: url(/public/images/farm/sensor-icons/temperature@2x.png);
            }
            &.lc-sensor-korinsHumidity {
                background-image: url(/public/images/farm/sensor-icons/humidity@2x.png);
            }
            &.lc-sensor-korinsTemperature {
                background-image: url(/public/images/farm/sensor-icons/temperature@2x.png);
            }
            &.lc-sensor-korinsWindSpeed {
                background-image: url(/public/images/farm/sensor-icons/wind-speed@2x.png);
            }
            &.lc-sensor-korinsWindDirection {
                background-image: url(/public/images/farm/sensor-icons/wind-direction@2x.png);
            }
            &.lc-sensor-korinsSolar {
                background-image: url(/public/images/farm/sensor-icons/solar@2x.png);
            }            
            &.lc-sensor-FolateTemperature {
                background-image: url(/public/images/farm/sensor-icons/temperature@2x.png);
            } 
            &.lc-sensor-CultureMediumWeight {
                background-image: url(/public/images/farm/sensor-icons/culture-medium-weight@2x.png);
            }   
            &.lc-sensor-CultureMediumWaterWeight {
                background-image: url(/public/images/farm/sensor-icons/culture-medium-water-weight@2x.png);
            }   
            &.lc-sensor-sumOfTemperature {
                background-image: url(/public/images/farm/sensor-icons/temperature@2x.png);
            }     
            &.lc-sensor-sugar {
                background-image: url(/public/images/farm/sensor-icons/sugar@2x.png);
            }   
            &.lc-sensor-relativeHumidity {
                background-image: url(/public/images/farm/sensor-icons/humidity@2x.png);
            }   
            &.lc-sensor-dewPointTemperature {
                background-image: url(/public/images/farm/sensor-icons/temperature@2x.png);
            }                                                    
        }
    }
}