#lcControlMotorWrap{
    z-index: 1;


    .lc-control-group{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .select-module-wrap{
            width:50%;
            margin-right:12px;

            @include screen(m) {
                width: 45%;
            }
        }

        .absolute-item-wrap{
            top: 65%;
        }
    }

    div.lc-card-content-wrap {
        margin-top: 16px;
    }




}
#lcMotorWrap {
    .card-header-button {
        width: 135px;
        height: 36px;
    }
    
    div.lc-card-content-wrap {
        margin-top: 16px;
    }

    .card-header-button {
        &.group-btn{
            margin-left: auto;
            margin-right: 10px;
            font-size: 14px;
            font-weight: 100;
        }
    }

    ul.lc-motor-list {
        & > li {
            margin-bottom: 8px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    
    article.lc-content-card {
        padding: 8px 12px;
    }
    
    div.content-position-wrap {
        position: relative;
        text-align: left;
    }


    .motor-content-wrap {
        padding-right: 182px;
        min-height: 48px;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
    
        .flex-line-break {
            width: 100%;
        }
    
        .motor-text-count-wrap {
            max-width: 100%;
            position: relative;
            cursor: pointer;
            p.motor-text {
                padding-right: 24px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font-size:$main-page-font;
            }
        
            span.motor-count {
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
        }
        
        .motor-dialog-percentage-wrap {
            margin-top: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .switch-text {
                word-break: keep-all;
                margin-left: 8px;
            }
            
            .switch, .switch-text, .percentage-state {
                vertical-align: middle;
            }
        }
        
        &.lc-non-individual-mode {
            flex-flow: initial;
            justify-content: space-between;
            
            .flex-line-break {
                display: none;
            }
            
            .motor-text-count-wrap {
                flex-basis: auto;
                max-width: calc( 100% - 42px );
            }
            
            .motor-dialog-percentage-wrap {
                margin-top: 0;
                flex-basis: 42px;
                justify-content: flex-end;
                .lc-toggle-wrapper {
                    display: none;
                }
            }
        }
    }
    
    span.motor-count {
        width: 18px;
        height: 18px;
        line-height: 16px;
        text-align: center;
        background-color: $very-light-pink;
        border-radius: 50%;
        color: #fff;
    }
    
    span.percentage-state {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: $theme-color;
        vertical-align: middle;
        
        &.lc-warning-color {
            color: $warning-color;
        }
    }
    
    .absolute-item-wrap {
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
        padding-right: 28px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    
        div.toggle-radio-wrap {
            font-size: 14px;
            vertical-align: middle;
        }
    }
    
    .three-dot-menu {
        position: absolute;
        z-index: 8;
        min-height: 38px;
        margin-left: 8px;
        display: inline-block;
        vertical-align: middle;
        top: 50%;
        right: 0;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
}