#lcInnerSensorWrap {
    
    .card-header-button {
        width: 113px;
        height: 36px;
    }
    .zoom-graph {
        margin-left:auto;
        margin-right:10px;
        font-size:14px;
        font-weight:100;
    }


    .lc-card-content-wrap {
        margin-top: 24px;
    }
    
    .lc-graph-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        background-color: #ccc;
        width: 100%;
        height: 220px;
        margin-bottom: 40px;
    }
    
    .graph-item-wrap {
        position: relative;
        margin: 20px 0;
        overflow: hidden;
        height: 310px;
        min-height: 310px;
        //background-color: #fff;
        //border: 1px solid $light-periwinkle;
        border-radius: 4px;
        
        .theme-text-button {
            position: absolute;
            right: 12px;
            top: 16px;
            z-index: 1;
        }

        .theme-sensors-zoom-button {
            right:110px;
        }
        .lc-white-box {
            bottom: -8px !important;
        }
    }
    
    .no-chart-data-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            font-size: 16px;
        }
    }
    
    article.lc-content-card {
        cursor: pointer;
        padding: 28px 16px;
        
        -webkit-background-size: 64px;
        background-size: 64px;
        background-repeat: no-repeat;
        background-position: center right 16px;
        
        p {
            color: #000;
            font-size: 16px;
        }
        
        //&.lc-sensor-temperature {
        //    background-color: $theme-color;
        //    border-color: $theme-color;
        //    background-image: url(/public/images/farm/sensor-icons/sensor-temp-white@2x.png) !important;
        //
        //    .content-title, .content-value {
        //        color: #fff;
        //    }
        //}
        
        .content-title {
            margin-bottom: 16px;
            line-height: 1.24;
        }
        
        .content-value {
            line-height: 13px;
            &.lc-warning {
                color: $coral;
            }
        }
    }
}