#lcNoticeWrap {
    background-image: url(/public/images/farm/notice-icon@2x.png);
    -webkit-background-size: 36px;
    background-size: 36px;
    background-position: left 12px center;
    background-repeat: no-repeat;
    cursor: pointer;
    
    .lc-card-header {
        padding-left: 38px;
    }
}