// path
$path-image: #{'/public/images/'};


// screen
$min-pc: 1201px;
$max-t: 1200px;
$max-m: 768px;
$min-t: 769px;

// container
$container: 1085px;


// colors
$ornageish: #ff9548;
$light-gray: #dddddd;
$pale-lilac: #e5e5ed;
$pale-lilac-two: #e5e5e8;
$pale-grey: #f5f5f9;
$brown-grey: #444;
$coral: #ff4848;
$light-periwinkle: #d5d5dd;
$very-light-pink: #bbbbbb;
$pastel-red: #d96262;
$navy-color:#4358A9;

$theme-color: #58A943;
$body-color: #D4D4DE;
$card-body-color: #F5F5F9;
$warning-color: #E17508;
$disabled-color: #BBBBBB;

// z-index
$z-index-spinner: 3;
$z-index-alert: 9999;
$z-index-header: 10;

// font
$main-page-font: 15px;