@import "reset";
@import "font";
@import "constants";
@import "mixins";
@import "animations";
@import "overrides";
@import "layouts";
//@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif !important;
}

html {
    height: 100%;
    //&.lc-panel {
    //    padding-right: 20%;
    //}
}

body {
    position: relative;
    background-color: $body-color;
    margin: 0;
    min-width: 320px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    //&.lc-panel {
    //    -webkit-transform: scale(1.25);
    //    -moz-transform: scale(1.25);
    //    -ms-transform: scale(1.25);
    //    -o-transform: scale(1.25);
    //    transform: scale(1.25);
    //    transform-origin: left top;
    //
    //    #lcAlertWrap, .modal-container {
    //        height: 80%;
    //    }
    //}
}

div#root {
    height: 100%;
}

.position-relative {
    position: relative;
}

#lcMainWrap {
    @include screen(pc) {
        padding-top: 64px;
    }
    @include screen(t, m) {
        padding-top: 48px;
    }
}

textarea,
input {
    border: none;
    outline: none;
    border-radius: 0;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    border: 0;
    border-radius: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    span {
        position: relative;
    }
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    text-decoration: none;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: unset;
    }
}

select {
    border-radius: 0;
    border: 0;
    background-color: white;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Noto Sans KR', sans-serif;
}

select::-ms-expand {
    display: none;
}

select:focus::-ms-value {
    color: #000;
    background-color: transparent;
}

.lc-bold-text {
    font-weight: bold;
}

.lc-theme-color {
    color: $theme-color !important;
}

.lc-alert-color {
    color: $coral !important;
}

@import "components";
@import "routes";
@import "articles";
