$ic-left: '/public/images/commons/ic-pagenumbering-left-chevron-24-24@2x.png';

$white-two: #f8f8f8;
$very-light-pink-two: #d9d9d9;
$white: white;
$greyish-brown: #515151;


.sensor-chart-container {
    position: relative;
    background-color: #fff;
    height: 360px;
    padding-top: 40px;
    overflow: hidden;

    span#sensorTitle {
        position: absolute;
        top: 16px;
        left: 16px;
        font-size: 16px;
        font-weight: bold;
        max-width: 216px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .sensor-chart-wrap {
        min-height: 320px;
        .amcharts-amexport-menu {
            top: 0 !important;
            &.amcharts-amexport-menu-root {
                top: -32px !important;
            }
        }
    }

    div.lc-white-box {
        position: absolute;
        bottom: 1px;
        left: 1px;
        border-bottom-left-radius: 4px;
        background: #fff;
        z-index: 2;
        width: 68px;
        height: 24px;
    }

    &.lc-main {
        height: 300px;
        padding-right: 26px;
        .sensor-chart-wrap {
            min-height: 270px;
        }

        div.lc-white-box {
            width: 50px;
        }
    }
}

.react-datepicker-wrapper, .react-datepicker__input-container, .lc-farmlabs-datepicker {
    width: 100%;
}

.lc-farmlabs-datepicker {
    position: relative;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    margin: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0 12px;
    line-height: 34px;
    color: $brown-grey;
    font-size: 14px;
    text-align: left;
}

.select-module-wrap {
    &:not(.type-multi) {
        & > div {
            display: block !important;
            font-size: 14px;
            color: #888;
            font-weight: 300;
            height: 34px !important;
            & > div {
                &:first-of-type {
                    display: block !important;
                    min-height: 34px !important;
                    height: 34px !important;
                    cursor: pointer;

                    & > div {
                        &:first-of-type {
                            height: 32px !important;
                            padding-right: 36px;
                        }
                        &:nth-of-type(2) {
                            position: absolute !important;
                            display: block !important;
                            top: 0;
                            right: 0;
                            height: 32px !important;

                            span {
                                display: none;
                            }

                            & > div {
                                &:first-of-type {
                                    padding: 7px !important;
                                }
                            }
                        }
                    }
                }
                &:nth-of-type(2) {
                    cursor: pointer;
                    margin: 6px 0 !important;
                    div {
                        *:active {
                            background-color: rgba(131,199,114,0.2) !important;
                        }
                    }
                }
            }
        }

        &.lc-size-36 {
            & > div {
                height: 36px !important;
                & > div {
                    &:first-of-type {
                        min-height: 36px !important;
                        height: 36px !important;
                        & > div {
                            &:first-of-type {
                                height: 34px !important;
                                padding-right: 36px;
                            }
                            &:nth-of-type(2) {
                                height: 34px !important;

                                span {
                                    display: none;
                                }

                                //& > div {
                                //    &:first-of-type {
                                //        padding: 7px !important;
                                //    }
                                //}
                            }
                        }
                    }
                }
            }
        }
    }
}

.react-datepicker__time-container {
    width: 300px !important;
    .react-datepicker__time-box {
        width: 100% !important;
    }
}

.date-picker-wrap {
    position: relative;

    .toggle-date-picker-label {
        input {
            font-size: 14px;
            color: $brown-grey;
            width: 100%;
            height: 36px;
            line-height: 36px;
            border: 1px solid #ddd;
            border-radius: 4px;
            background-color: #fff;
            padding: 0 12px;
        }
    }

    &.start {
        &:after {
            content: '부터';
            position: absolute;
            pointer-events: none;
            right: 12px;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 14px;
            color: #000;
        }
    }
    &.end {
        &:after {
            content: '까지';
            position: absolute;
            pointer-events: none;
            right: 12px;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            font-size: 14px;
            color: #000;
        }
    }
    @media screen and (max-width: 360px) {
        &.start, &.end {
            &:after {
                font-size: 12px;
            }
        }
    }
}

.react-datepicker {
    border: 0 !important;
    box-shadow: 5px 4px 14px 0 rgba(0, 0, 0, 0.12);
}

.react-datepicker__portal {
    width: 100% !important;
    height: 100% !important;
}

div.react-datepicker-wrapper {
    display: block;

    div.react-datepicker__input-container {
        display: block;
    }
}

.lc-farmlabs-datepicker-popper {
    .react-datepicker__triangle {
        border-bottom-color: $white !important;

        &::before {
            border-bottom-color: $white !important;
        }
    }

    &.right {
        left: auto !important;
        right: 0 !important;
        .react-datepicker__triangle {
            left: auto;
            right: 50px;
        }
    }
}

.react-datepicker__month-container {
    border-radius: 3px;
    overflow: hidden;
}


.react-datepicker__header {
    border-bottom: 1px solid $white-two !important;
    background-color: #fff !important;
    padding-top: 0 !important;
}

.react-datepicker__current-month {
    background-color: #fff;
}
.react-datepicker__day-names {
    background-color: #fff;
}

.react-datepicker__month {
    margin: 0 8px !important;
}

.react-datepicker__current-month {
    height: 56px;
    line-height: 60px;
    font-size: 18px !important;
    font-weight: 500 !important;
    color: $greyish-brown !important;
    background-color: $white !important;
}

.react-datepicker__navigation--next {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.react-datepicker__navigation {
    top: 18px !important;
    border: 0 !important;
    width: 24px !important;
    height: 24px !important;
    background-size: 24px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-image: url($ic-left) !important;
}

.react-datepicker__day-name {
    font-weight: 500;
    color: $brown-grey !important;
}

.react-datepicker__day-name, .react-datepicker__day {
    margin: 0 !important;
    width: 36px !important;
    line-height: 42px !important;
    font-size: 15px;
}

//.react-datepicker__day:hover {
//    border-radius: 0 !important;
//    background-color: $white-two !important;
//}

.react-datepicker__day--selected {
    border-radius: 0 !important;
    background-color: rgba($theme-color, 0.1) !important;
    font-weight: 500 !important;
    color: $theme-color !important;
}

.react-datepicker__day--today {
    font-weight: 500 !important;
    color: $theme-color !important;
}

.react-datepicker__day--outside-month {
    color: $very-light-pink-two !important;
}

.amcharts-amexport-menu {
    top: -10px !important;
}

.react-datepicker__day--keyboard-selected {
    background-color: $theme-color !important;
    color: #fff !important;
}

.react-datepicker__close-icon {
    top: 30% !important;
    &:after {
        background-color: $theme-color !important;
    }
}