#lcFarmWrap {
    background-color: $body-color;
    padding-bottom: 64px;
    
    ul#lcListContainer {
        div.fixed-on-mobile {
            margin-bottom: 20px;
            @include screen(pc) {
                display: none;
            }
            @include screen(t, m) {
                display: block;
            }
        }
        &.lc-mode-panel {
            @include screen(pc) {
                & > li {
                    width: 50%;
                    //&:last-of-type {
                    //    display: none;
                    //}
                }
            }
        }
        
        @include screen(pc) {
            padding: 10px;
            @include after-clear();
            & > li {
                float: left;
                width: 33.3333333%;
                padding: 10px;
            }
        }
        @include screen(t, m) {
            & > li {
                width: 100%;
                margin-bottom: 20px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@import "routes/screen-saver";