#lcOuterSensorWrap {
    .card-header-button {
        width: 113px;
        height: 36px;
    }

    .zoom-graph {
        margin-left:auto;
        margin-right:10px;
        font-size:14px;
        font-weight:100;
    }
    
    .lc-card-content-wrap {
        margin-top: 24px;
    }
    
    article.lc-content-card {
        cursor: pointer;
        padding: 28px 16px;
        
        -webkit-background-size: 64px;
        background-size: 64px;
        background-repeat: no-repeat;
        background-position: center right 16px;
        
        p {
            color: #000;
            font-size: 16px;
        }
        
        .content-title {
            margin-bottom: 16px;
            line-height: 1.24;
        }
        
        .content-value {
            line-height: 13px;
            &.lc-warning {
                color: $coral;
            }
        }
    }
}