@mixin aspect-ratio($width: 1, $height: 1, $selector: "> :first-child") {
    $selector: unquote($selector);
    position: relative;
    padding-top: ($height / $width) * 100%;
    
    #{$selector} {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}