@mixin placeholder($color, $align:left) {
    &::-webkit-input-placeholder {
        text-align: $align;
        color: $color;
    }
    &::-moz-placeholder {
        text-align: $align;
        color: $color;
    }
    &:-ms-input-placeholder {
        text-align: $align;
        color: $color;
    }
    &:-moz-placeholder {
        text-align: $align;
        color: $color;
    }
}