@import "reset";
@import "font";
@import "constants";
@import "mixins";
@import "animations";
@import "layouts";

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif !important;
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    min-width: 320px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;


    @include screen(pc){
        padding-left : 220px;
    }
}

div#root {
    min-height: 100%;
    //height: 100%;
    background-color: #E5E5ED;
}

.position-relative {
    position: relative;
}

#lcMainWrap {
    @include screen(pc) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    @include screen(t, m) {
        padding-top: 48px;
    }
}

textarea,
input {
    border: none;
    outline: none;
    border-radius: 0;
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    border: 0;
    border-radius: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Noto Sans KR', sans-serif;
    span {
        position: relative;
    }
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    text-decoration: none;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: unset;
    }
}

select {
    border-radius: 0;
    border: 0;
    background-color: white;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Noto Sans KR', sans-serif;
}

select::-ms-expand {
    display: none;
}

select:focus::-ms-value {
    color: #000;
    background-color: transparent;
}

div.no-data-wrap {
    padding: 30px;
}
.searchBtn{
    float: right;
}
.searchBtn img{
    width: 30px;
    margin: 8px 12px 0px 12px;
}
.button-area{
    @include screen(pc, t) {
        vertical-align: top;
        float: right;
        padding-right: 30px;
    }

    @include screen(m) {
      display: none;
    }

    .closeBtn {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
      background-image: url(/public/images/commons/close-icon-pc.svg);
      width: 36px;
      height: 36px;
      opacity: 0.85;
      position: absolute;
    }
  }

  .button-sub-area{
    vertical-align: top;
    float: right;

    .subCloseBtn {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
      background-image: url(/public/images/commons/close-icon-pc.svg);
      width: 20px;
      height: 20px;
      opacity: 0.85;
    }
  }

  .button-area-mobile{        
    vertical-align: top;

    @include screen(pc, t) {
      display: none;
    }

    @include screen(m) {
        display: inline-block;
        float: right;
    }

    .closeBtn {
        position: absolute;
        right: 3%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        background-image: url(/public/images/commons/close-icon-pc.svg);
        width: 36px;
        height: 36px;
        opacity: 0.85;
      }
  }


  .km-button--primary {
    background-color: #5C5AA7;
    color: #FFFFFF;
}
.km-button {
    border-radius: 3px;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
    height: 36px;
    padding: 0px 16px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    min-width: 70px;
    transition: all 0.3s ease-out;
}
.km-btn-file {
    width: 45%;
    height: 35px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
  }
  .km-btn-file-label {
    line-height: 36px;
    cursor: pointer;
  }
  .img-label{
    font-size: 14px;
    color: #000000;
    padding-bottom: 8px;
    font-weight: 300;
    word-break:break-all;
  }
@import "components";
@import "routes";