// path
$path-image: #{'/public/images/'};


// screen
$min-pc: 1201px;
$max-t: 1200px;
$max-m: 768px;
$min-t: 769px;

// container
$container: 1085px;


// colors
$ornageish: #ff9548;
$pale-lilac: #e5e5ed;
$pale-grey: #f5f5f9;
$brown-grey: #888;
$coral: #ff4848;
$light-periwinkle: #d5d5dd;
$very-light-pink: #bbbbbb;
$pastel-red: #d96262;

$theme-color: #83C772;
$body-color: #E5E5ED;
$card-body-color: #F5F5F9;
$warning-color: #FF9548;
$disabled-color: #BBBBBB;
$brown-grey:#888888;

// z-index
$z-index-spinner: 3;
$z-index-alert: 9999;
$z-index-header: 10;