// noto sans kr
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans Light'), local('NotoSans-Light'), url(/public/fonts/NotoSans/NotoSans-Light.eot);
  src: url(/public/fonts/NotoSans/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
  url(/public/fonts/NotoSans/NotoSans-Light.woff2) format('woff2'),
  url(/public/fonts/NotoSans/NotoSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(/public/fonts/NotoSans/NotoSans-Regular.eot);
  src: url(/public/fonts/NotoSans/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
  url(/public/fonts/NotoSans/NotoSans-Regular.woff2) format('woff2'),
  url(/public/fonts/NotoSans/NotoSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(/public/fonts/NotoSans/NotoSans-Medium.eot);
  src: url(/public/fonts/NotoSans/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
  url(/public/fonts/NotoSans/NotoSans-Medium.woff2) format('woff2'),
  url(/public/fonts/NotoSans/NotoSans-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans Bold'), local('NotoSans-Bold'), url(/public/fonts/NotoSans/NotoSans-Bold.eot);
  src: url(/public/fonts/NotoSans/NotoSans-Bold.eot?#iefix) format('embedded-opentype'),
  url(/public/fonts/NotoSans/NotoSans-Bold.woff2) format('woff2'),
  url(/public/fonts/NotoSans/NotoSans-Bold.woff) format('woff');
}
