.lc-animal-route-wrap {
    display: block;
   // margin: 35px auto 0;

    @include screen(pc, t){
        margin: 35px auto;
    }

    @include screen(m) {
       margin: 0 auto;
    }






}

@import "routes/entity";
@import "routes/entity-detail";
@import "routes/breed";