.lc-card-bottom {
    padding: 14px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        font-size: 14px;
        color: $brown-grey;
        font-weight: 300;
    }
    
    #houseSelectLabel {
        font-weight: 400;
    }
    
    .select-module-wrap {
        width: 180px;
    }
}