div.lc-card-center {
    display: flex;
    padding: 14px 12px;
    align-items: center;
    border-top: 1px solid #E5E5ED;
    
    p {
        flex: 1;
        text-align: left;
        font-size: 12px;
    }
}