div.lc-card-top {
    min-height: 64px;
    position: relative;
    padding: 14px 12px;
    
    @include after-clear();
    
    #internetSignal {
        position: absolute;
        top: 50%;
        right: 12px;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        
        img {
            position: relative;
            z-index: 1;
            display: block;
            width: 36px;
            height: 36px;
        }
        
        #signalBall {
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border-radius: 50%;
            &.lc-level-0 {
                width: 10%;
                height: 10%;
                background-color: red;
            }
            &.lc-level-1 {
                width: 33%;
                height: 33%;
                background-color: red;
            }
            &.lc-level-2 {
                width: 58%;
                height: 58%;
                background-color: orange;
            }
            &.lc-level-3 {
                width: 100%;
                height: 100%;
                background-color: $theme-color;
            }
        }
    }
    .time-info-wrap {
        float: left;
        
        p {
            font-size: 12px;
            color: #000;
            font-weight: 300;
            &:first-of-type {
                margin-bottom: 12px;
            }
        }
    }
    .weather-info-wrap {
        cursor: pointer;
        float: left;
        margin-left: 54px;
        padding-left: 54px;
        background-repeat: no-repeat;
        background-position: left center;
        -webkit-background-size: contain;
        background-size: contain;
        
        p {
            font-size: 12px;
            color: #000;
            font-weight: 300;
        }
        
        p.temp {
            font-weight: bold;
            margin-bottom: 12px;
        }
    }
    
    #weatherWarn {
        padding: 0 42px 0 82px;
        //color: red;
        font-weight: normal;
        text-align: center;
        line-height: 36px;
        
        @include screen(m) {
            padding-right: 0;
            padding-left: 72px;
            font-size: 12px;
            @media screen and (max-width: 340px) {
                text-align: left;
            }
        }
    }
}